<div class="btn-group">
  <button id="notificationBtn" class="btn btn-xs btn-success mr-2" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" (click)="loadNotifications()">
    <i class="fa fa-bell"></i>
    <i *ngIf="hasUnreadNotification" class="fa fa-exclamation text-red" style="position: absolute;"></i>
  </button>
  <div id="notificationDrpdwn" class="dropdown-menu">
    <div *ngFor="let notification of notifications" class="ml-1" (click)="openItem(notification.itemId, notification.commentId)">
      <div class="font-12">
        <span [ngClass]="!notification.hasRead ? 'text-primary':''">
          <strong>{{notification.title}}</strong>
        </span>
        <br>
        <span>{{notification.message}}</span>
      </div>
      <div class="dropdown-divider"></div>
    </div>
    <button id="showMoreNotifications" class="btn btn-xs btn-success ml-1" (click)="showMoreNotifications()">
      More...
    </button>
  </div>
</div>