<ng-container *ngIf="item">
    <a [routerLink]="[]" [queryParams]="{id: item?._id}" style="text-decoration:none">
        <div class="mb-2">
            <div class="text-center">
                <h3>
                    <span class="text-primary">{{item?.businessName}}</span>-<span
                        class="text-success">{{item?.title}}</span>
                </h3>
            </div>
            <div class="row justify-content-center">
                <div *ngFor="let file of files; let i = index;" class="d-inline pr-2">
                    <div class="picture-frame" data-toggle="tooltip" data-placement="bottom" title="{{item.overview}}">
                        <a class="d-block" [routerLink]="[]" queryParamsHandling="merge" [queryParams]="{id:item._id}">
                            <img *ngIf="file.fileType?.match('image*')" class="img-fluid img-thumbnail mh-250"
                                [src]="file.url | imageMobileLinkPipe" default="{{file.url}}" alt="Unavailable">
                            <app-meme-video *ngIf="file.fileType?.match('video*')" [link]="file.url"
                                [fileType]="file.fileType" [customClass]="'mh-250'"></app-meme-video>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</ng-container>