<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center text-success">{{"login.resetPassword.label" | translate}}</h5>
                    <h5 *ngIf="error" class="alert-danger">{{error}}</h5>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="requestResetPassword()" autocomplete="on">
                        <div class="form-group">
                            <label class="text-primary" for="email">{{"login.email.label" | translate}}</label>
                            <input type="email" autofocus formControlName="email" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.email">{{"login.email.validate.emailFormat" | translate}}</div>
                                <div *ngIf="f.email.errors.whitespace">{{"login.email.validate.whitespace" | translate}}</div>
                            </div>
                        </div>
                        <button class="btn btn-success" type="submit">{{"common.label.submit" | translate}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>