<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center text-success">Request Reset Password</h5>
                    <h5 *ngIf="error" class="alert-danger">{{error}}</h5>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="requestResetPassword()" autocomplete="on">
                        <div class="form-group">
                            <label class="text-primary" for="email">Email</label>
                            <input type="email" autofocus formControlName="email" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required!</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address format!</div>
                                <div *ngIf="f.email.errors.maxlength">Email should contain no more than 50 characters!
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>