<div>
  <textarea id="txtReplyBox" placeholder="Let comment something fun!" class="pb-cmnt-textarea float-left "
    [(ngModel)]="commentContent" ngDefaultControl></textarea>
  <div>
    <button class="btn-xs btn-primary mr-1 ml-1" (click)="writeTextComment()" [disabled]="isRecording"
      [class.btn-secondary]="isRecording"><i class="fa fa-share-square font-10" aria-hidden="true"></i></button>
    <button class="btn-xs btn-primary mr-1 ml-1" (click)="writeVoiceComment()" [disabled]="isUploading"
      [class.btn-secondary]="isUploading">
      <i class="fa fa-microphone font-10 pr-pl-1-px" aria-hidden="true" [class.red-micro]="isRecording"></i></button>
    <button class="btn-xs btn-primary mr-1 ml-1" [class.btn-secondary]="isRecording" [disabled]="isRecording"><i
        class="fa fa-camera font-8" aria-hidden="true"></i></button>
    <button class="btn-xs btn-primary mr-1 ml-1" [class.btn-secondary]="isRecording" [disabled]="isRecording"><i
        class="fa fa-picture-o font-8" aria-hidden="true"></i></button>
  </div>
</div>