.red-micro {
    color: red;
}

.font-10 {
    font-size: 0.625rem;
}

.font-8 {
    font-size: 0.5rem;
}

.pr-pl-1-px {
    padding-right: 1px;
    padding-left: 1px;
}

div.editable {
    width: 100%;
    max-width: 100%;
    min-height: 25px;
    height: 100%;
    border: 1px solid #ccc;
    padding: 5px;
}

.pull-right {
    float: right;
}