<div>
  <textarea id="txtReplyBox" placeholder="Let comment something fun!" class="pb-cmnt-textarea float-left " [(ngModel)]="commentContent"
    ngDefaultControl></textarea>
  <button class="btn-xs btn-primary mt-1 mr-1 ml-1"><i class="fa fa-microphone" aria-hidden="true"></i></button>
  <button class="btn-xs btn-primary mt-1 mr-1 ml-1"><i class="fa fa-camera" aria-hidden="true"></i></button>
  <button class="btn-xs btn-primary mt-1 mr-1 ml-1"><i class="fa fa-picture-o" aria-hidden="true"></i></button>
  <button class="btn-xs btn-success mt-1 mr-1 ml-1" (click)="writeTextComment()"><i class="fa fa-share-square"
      aria-hidden="true"></i></button>
</div>