<div class="row pb-3">
    <div class="col-12">
        <ng-container *ngFor="let key of params | keyPipe">
            <ng-container>
                <button class="mr-2"
                    [ngClass]="{'btn-success': key=='tag', 'btn-primary': key=='category', 'btn-warning': key=='minPrice', 'btn-info': key=='maxPrice', 'btn-dark': key=='keyword'}"
                    [title]="key" (click)="removeFilter(key)" (click)="removeFilter(key)">
                    <span>{{params[key]}}</span>
                    <span class="ml-1">(X)</span>
                </button>
            </ng-container>
        </ng-container>
    </div>
</div>

<div id="listItems">
    <app-items [items]="items" [randomItems]="randomItems"></app-items>
</div>

<div class="row mb-5">
    <div class="col-12">
        <div class="float-left pt-1">
            <a class="btn btn-primary d-inline text-white" (click)="loadNext()">Next</a>
        </div>
        <div class="float-right">
            <a class="btn btn-primary d-inline mr-1" [routerLink]="[]" queryParamsHandling="merge"
                [queryParams]="{page: actualPage}">Page</a>
            <input class="d-inline w-25" min="0" autofocus [(ngModel)]="actualPage" />
        </div>
    </div>
</div>