ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

li a:hover {
  background-color: #c0c0c0;
}

.logo {
  width: 32px;
  height: 32;
}

.header-avatar {
  width: 20%;
}

@media (max-width: 768px) {
  .header-avatar {
    width: 30%;
  }
}

@media (max-width: 575.98px) {
  .header-avatar {
    width: 100%;
  }
}
