<div class="mb-4">
  <div class="d-inline">
    <a routerLink='/'><img class="logo rounded" src="../../assets/image/logo64x51.png"></a>
  </div>
  <div class="d-inline" *ngIf="!authSvc.isLoggedIn()">
    <a class="btn btn-xs btn-success mr-2" href="/login"><i class="fa fa-sign-in"></i></a>
  </div>
  <div class="d-inline" *ngIf="authSvc.isLoggedIn()">
    <app-upload></app-upload>
    <div class="btn-group">
      <button id="createItemBtn" class="btn btn-xs btn-success mr-2" data-toggle="modal" data-target="#uploadModal"><i
          class="fa fa-plus"></i></button>
      <button type="button" class="btn btn-xs btn-success dropdown-toggle mr-2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
      </button>
      <div class="dropdown-menu">
        <a routerLink="/user/profile" class="ml-1 d-block">My profile</a>
        <a routerLink="/user/items" class="ml-1 d-block">My posts</a>
        <div class="dropdown-divider"></div>
        <a href="" (click)="logout()" class="ml-1">Logout</a>
      </div>
    </div>
    <app-notification></app-notification>
  </div>
</div>