ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

li a:hover {
    background-color: #C0C0C0;
}