<div class="row mb-4">
  <div class="col-lg-7 col-md-8 col-xs-6 mt-1">
    <div class="d-inline mr-2">
      <a [routerLink]="'/business/forSale'" [queryParams]="{page: 0, perPage: PER_PAGE}"><img class="logo rounded"
          src="../../assets/image/newlogo64x46.jpg"></a>
    </div>
    <div class="d-inline" *ngIf="!authSvc.isLoggedIn()">
      <a class="btn btn-xs btn-success mr-2" href="/login"><i class="fa fa-sign-in"></i></a>
    </div>
    <div class="d-inline" *ngIf="authSvc.isLoggedIn()">
      <!-- <create-node></create-node> -->
      <div class="btn-group">
        <a id="createItemBtn" class="btn btn-xs btn-success mr-2" routerLink="/business/post"><i
            class="fa fa-plus"></i></a>
        <!-- <button id="createItemBtn" class="btn btn-xs btn-success mr-2" data-toggle="modal" data-target="#uploadModal"><i
            class="fa fa-plus"></i></button> -->
        <!-- <button id="createItemBtn" class="btn btn-xs btn-success mr-2" data-toggle="modal" data-target="#createNodeModal"><i
          class="fa fa-plus"></i></button> -->
        <button type="button" class="btn btn-xs btn-success dropdown-toggle mr-2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">{{authSvc.user.username}}
        </button>
        <div class="dropdown-menu">
          <a routerLink="/user/profile" class="ml-1 d-block">{{"common.label.profile" | translate}}</a>
          <a routerLink="/business/user" [queryParams]="{page: 0, perPage: PER_PAGE}" class="ml-1
            d-block">{{"common.label.posts" | translate}}</a>
          <div class="dropdown-divider"></div>
          <a href="" (click)="logout()" class="ml-1">{{"common.label.logout" | translate}}</a>
        </div>
      </div>
      <app-notification></app-notification>
    </div>
  </div>
  <div class="col-lg-5 col-md-4 col-xs-6 mt-1">
    <button type="button" class="btn btn-sm btn-success dropdown-toggle mr-2 float-right" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">{{language}}
    </button>
    <div class="dropdown-menu">
      <a class="ml-1 d-block" href="javascript:void(0)" (click)="useLanguage('vn')">Tiếng Việt</a>
      <a class="ml-1 d-block" href="javascript:void(0)" (click)="useLanguage('en')">English</a>
    </div>
  </div>
</div>

<div class="row pb-3">
  <div class="col-md-4 col-xs-4 hot">
    <a [routerLink]="'/business/forSale'" [queryParams]="{page: 0, perPage: PER_PAGE}"
      (click)="setFlag(true, false, false)"><button class="btn w-100 pr-0 pl-0 rounded-0 border-0 hot"
        [ngClass]="{'font-weight-bold text-white font-24 round-right-16' : businessForSaleActive}">
        {{'home.topHeader.business' | translate}}
      </button>
    </a>
  </div>
  <div class="col-md-4 col-xs-4 warm">
    <a [routerLink]="'/business/hiring'" [queryParams]="{page: 0, perPage: PER_PAGE}"
      (click)="setFlag(false, true, false)">
      <button class="btn w-100 pr-0 pl-0 rounded-0 border-0 warm"
        [ngClass]="{'font-weight-bold text-white font-24 round-right-left-16' : hiringActive}">
        {{'home.topHeader.hiring' | translate}}
      </button>
    </a>
  </div>
  <div class="col-md-4 col-xs-4 cold">
    <a [routerLink]="'/business/other'" [queryParams]="{page: 0, perPage: PER_PAGE}"
      (click)="setFlag(false, false, true)">
      <button class="btn w-100 pr-0 pl-0 rounded-0 border-0 cold"
        [ngClass]="{'font-weight-bold text-white font-24 round-left-16' : otherForSaleActive}">
        {{'home.topHeader.other' | translate}}
      </button>
    </a>
  </div>
</div>