<div class="pt-5">
  <div class="d-flex justify-content-center">
    <a routerLink='/legal/policy' class="btn btn-primary mr-2">{{"common.label.policies" | translate}}</a>
    <a routerLink='/legal/term-of-services' class="btn btn-primary mr-2">{{"common.label.terms" | translate}}</a>
    <a routerLink='/legal/rules' class="btn btn-primary mr-2">{{"common.label.rules" | translate}}</a>
  </div>
  <div class="d-flex justify-content-center">
    <span>&copy;2022-2023 Me2Meme</span>
  </div>
</div>