<div class="container">
    <div class="row">
        <div class="col-12">
            <a routerLink='/'><img class="rounded w-25" src="../../assets/image/newlogo823x604.jpg"></a>
            <h4>Last Modified: September 9th, 2022</h4>

            <div id="tablecontent">
                <h2>Table of Contents</h2>
                <ul>
                    <li><a routerLink="." fragment="part1">Legal Base Of Using Your Information</a></li>
                    <li><a routerLink="." fragment="part2">Your Right To Object</a></li>
                    <li><a routerLink="." fragment="part3">International Transfers</a></li>
                    <li><a routerLink="." fragment="part4">Your Right To Complain</a></li>
                    <li><a routerLink="." fragment="part5">Children Protection</a></li>
                    <li><a routerLink="." fragment="part6">Revisions to the Privacy Policy</a></li>
                    <li><a href="/legal/policy">Back to general policy</a></li>
                </ul>
            </div>

            <div>
                <div>
                    <h2>Users From European Union and European Economic Area
                    </h2>
                    <div>
                        TroiViet is the one that controls information of users from the European Union or European Economic Area. Here are some information that you should know:
                    </div>
                </div>

                <div id="part1">
                    <h3>Legal Base Of Using Your Information </h3>
                    <div>European countries allow TroiViet to use your information under certain conditions. This is called a legal base. We are following some of these bases:
                    </div>
                    <ul>
                        <li><strong>Contract.</strong> Because you accept our policy, we may use your information. For example, we might use your information for targeted advertisements.</li>
                        <li> <strong>Legitimate Interest.</strong> We might use your information for legitimate reasons. For example, to improve our services based on your information such as protecting your account, uploading your posts and comments, giving
                            customer support, and showing the best content that you are interested in. These services are free, that's why to keep business up and running, we need to use this information to show you relevant ads. The information we use
                            does not heavily impact your privacy.
                        </li>
                        <li><strong>Consent.</strong> In case of using your information, we will ask for your consent. You can accept and revoke your consent any time.</li>
                        <li><strong>Legal obligation.</strong> If the law requires, we might use your information to protect our customers and employees.</li>
                    </ul>
                </div>

                <div id="part2">
                    <h3>About Our Privacy Policy</h3>
                    <div>
                        You can ask for deleting your account anytime along with your data. Sometimes the laws require us to keep your information under a certain amount of time before your account is completely deleted.
                    </div>
                </div>

                <div id="part3">
                    <h3>International Transfers</h3>
                    <div>We might send your personal information from, transfer it to and process it in the United States. We will make sure that we use the right process of transferring your information outside of the EU and EEA. For internal transfers, we
                        rely on the EU-U.S. and Swiss-U.S. Privacy Shield.</div>
                </div>

                <div id="part4">
                    <h3>Your Right To Complain</h3>
                    <div>If you live in the EU or EEA, you can file your complaint with the supervisory authority in your Member States.</div>
                </div>

                <div id="part5">
                    <h3>Children Protection</h3>
                    <div>We don't serve directly to anyone under 16. We do not intentionally get personal information from anyone under 16. If the users are EU or EEA users between ages 13 and 16 we may require your parent’s consent before we collect and use
                        that information.</div>
                </div>

                <div id="part6">
                    <h3>Revisions and Changes to the Privacy Policy</h3>
                    <div> We keep changing this Privacy Policy all the time. We will try to notify you when we change policy.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>