<div>
    <a routerLink='/'><img class="rounded" src="../../assets/image/logo256x215.png"></a>
    <h4>Last Modified: Jan 21, 2020</h4>

    <div id="tablecontent">
        <h2>Table of Contents</h2>
        <ul>
            <li><a routerLink="." fragment="part1">The Personal Information That We Collect About You</a></li>
            <li><a routerLink="." fragment="part2">Categories of Business/Commercial Purposes for Use of Your
                    Information</a></li>
            <li><a routerLink="." fragment="part3">California Rights and Choices</a></li>
            <li><a routerLink="." fragment="part4">Accessing and Deleting your Personal Information</a></li>
            <li><a routerLink="." fragment="part5">Sales of Personal Information</a></li>
            <li><a routerLink="." fragment="part6">Children</a></li>
            <li><a routerLink="." fragment="part7">Non-Discrimination Rights</a></li>
            <li><a routerLink="." fragment="part8">Revisions and Changes to the Privacy Policy</a></li>
            <li><a href="/legal/policy">Back to general policy</a></li>
        </ul>
    </div>

    <div>
        <h2>Users in the State of California (US)</h2>

    </div>

    <div id="part1">
        <h3>The Personal Information That We Collect About You</h3>
        <div>
            <div>For individuals who are California residents, the California Consumer Privacy Act requires certain
                disclosures about the categories of personal information we collect and how we use it, the categories of
                sources from whom we collect personal information, and the third parties with whom we share it with.
            </div>
            <div>
                Depending on how you interact with us, M2MEME may collect the following categories of information as
                summarized in the table below. This does not apply to personal information we collect from employees or
                job applicants in their capacity as employees or job applicants. It also does not apply to personal
                information we collect from employees, owners, directors, officers, or contractors of businesses in the
                course of our provision or receipt of business-related services.
            </div>
        </div>
        <ul>
            <li>You, including through your use of our services</li>
            <li>Automatically collected from you</li>
            <li>Our affiliate companies</li>
            <li>Third parties</li>
        </ul>

        <table border="1">
            <tr>
                <th><strong>Personal Information We Collect</strong></th>
                <th><strong>Third Parties with Which We Share That Information</strong></th>
            </tr>
            <tr>
                <td>Identifiers (such as name, e-mail address)</td>
                <td>
                    <ul>
                        <li>Third parties (such as our service providers and integration partners)</li>
                        <li>Our affiliate companies</li>
                        <li>Aggregators (such as analytics services)
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Commercial Information (such as transaction data)</td>
                <td>
                    <ul>
                        <li>Third parties (such as our service providers and integration partners)</li>
                        <li>Our affiliate companies</li>
                        <li>Aggregators (such as analytics services)
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Financial Data (such as billing information)</td>
                <td>
                    <ul>
                        <li>Third parties (such as our service providers and integration partners)</li>
                        <li>Our affiliate companies</li>
                        <li>Aggregators (such as analytics services)
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Internet or Other Network or Device Activity (such as browsing history or app usage) </td>
                <td>
                    <ul>
                        <li>Third parties (such as our service providers and integration partners)</li>
                        <li>Our affiliate companies</li>
                        <li>Aggregators (such as analytics services)
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Location information (e.g. inferred from your IP address)</td>
                <td>
                    <ul>
                        <li>Third parties (such as our service providers and integration partners)</li>
                        <li>Our affiliate companies</li>

                    </ul>
                </td>
            </tr>
            <tr>
                <td>Legally Protected Classifications (such as gender and age)</td>
                <td>
                    <ul>
                        <li>Third parties (such as our service providers and integration partners)</li>
                        <li>Our affiliate companies</li>
                        <li>Aggregators (such as analytics services)
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Other Information that Identifies or Can Be Reasonably Associated with You</td>
                <td>
                    <ul>
                        <li>Third parties (such as our service providers and integration partners)</li>
                        <li>Our affiliate companies</li>
                        <li>Aggregators (such as analytics services)
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <a routerLink="." fragment="tablecontent">Back to content table</a>
    </div>

    <div id="part2">
        <h3>Categories of Business/Commercial Purposes for Use of Your Information</h3>
        <div>All of the categories of personal information we collect about you (as detailed above) are used for the
            following purposes:</div>
        <ul>
            <li>Providing our services (for example, account servicing and maintenance, customer service, advertising
                and marketing, analytics, and communication about our services)</li>
            <li>For our operational purposes, and the operational purposes of our service providers and integration
                partners
            </li>
            <li>Improving our existing services and developing new services (e.g., by conducting research to develop new
                products or features)
            </li>
            <li>Delivering relevant advertising
            </li>
            <li>Detecting, protecting against, and prosecuting security incidents and fraudulent or illegal activity
            </li>
            <li>Bug detection, error reporting, and activities to maintain the quality or safety of our services
            </li>
            <li>Auditing consumer interactions on our site (for example, measuring ad impressions)
            </li>
            <li>Other uses that advance our commercial or economic interests, such as third party advertising
            </li>
            <li>Other uses that we notify you about
            </li>
        </ul>
        <a routerLink="." fragment="tablecontent">Back to content table</a>
    </div>

    <div id="part3">
        <h3>California Rights and Choices</h3>
        <div>Subject to certain restrictions, California residents have the right to request that we disclose what
            personal information we collect about you, to delete any personal information that we collected from or
            maintain about you, and to opt-out of the sale of personal information about you. As a California resident,
            you also have the right to designate an agent to exercise these rights on your behalf. This section
            describes how to exercise those rights and our process for handling those requests, including our means of
            verifying your identity. If you would like further information regarding your legal rights under applicable
            law or would like to exercise any of them, please contact us.
        </div>

        <a routerLink="." fragment="tablecontent">Back to content table</a>
    </div>

    <div id="part4">
        <h3>Accessing and Deleting Your Personal Information</h3>



        <div>
            <div><strong>Accessing and Deleting Your Personal Information</strong></div>
            <div>California residents have the right to request that we disclose what categories of personal information
                that we collect, use, or sell about you. You may also request the specific pieces of personal
                information
                that we have collected about you. However, we may withhold some information where the risk to you, your
                personal information, or our business is too great to disclose the information.</div>
        </div>

        <div>
            <div><strong>Right to Request Deletion of Your Personal Information</strong></div>
            <div>You may also request that we delete any personal information that we have collected from/about you.
                However, we may retain personal information as authorized under applicable law, such as personal
                information
                required as necessary to provide our services, protect our business and systems from fraudulent
                activity, to
                debug and identify errors that impair existing functionality, as necessary for us, or others, to
                exercise their free speech or other rights, comply with law enforcement requests pursuant to lawful
                process, for
                scientific or historical research, for our own internal purposes reasonably related to your relationship
                with us, or to comply with legal obligations. We need certain types of information so that we can
                provide our services. If you ask us to delete it, you may no longer be able to access or use our
                services.
            </div>
        </div>


        <div>
            <div><strong>How to Exercise Your Access and Deletion Rights</strong></div>
            <div>California residents may exercise their California privacy rights by submitting your request here.
                While our contact form is the best way to reach us, you may also email us at m2meme@googlegroups</div>
            <div>For security purposes, we may request additional information from you to verify your identity when you
                request to exercise your California privacy rights.</div>
            <div>If you have an online account with us, logging into your account will serve to verify your identity and
                request, although we may request additional information if we believe your account has been compromised.
                If you do not have an account with us, or if we have reason to suspect that the security of your account
                is compromised, we will request additional information from you to match with our existing records to
                verify your identity, depending on the nature of the request and the sensitivity of the information
                sought.</div>
            <div>
                Once you submit a request to (1) access the categories of personal information we have about you or (2)
                obtain a copy of specific pieces of personal information we have about you, we will ask that you verify
                your identity by logging into your account using your username and password. If you don’t have an
                account with us, we will ask you to provide certain information so we can verify your identity. Once
                verified, we will provide you access to your information in a downloadable format.
            </div>
            <div>To request that we delete personal information we have collected from you, you will need to
                authenticate with us by first logging into your account using your user name and password on file with
                us. Once you are logged in, we provide a way for you to delete your account. </div>
            <div>If you wish to exercise any of these rights and do not have an account with us, please contact us here
                and we will request additional information to perform identity verification where possible.</div>
        </div>
        <a routerLink="." fragment="tablecontent">Back to content table</a>
    </div>

    <div id="part5">
        <h3>Sales of Personal Information</h3>
        <div>
            California residents may opt out of the sale of their personal information <a
                href="/policy/do-not-sell">here</a>.
        </div>
        <a routerLink="." fragment="tablecontent">Back to content table</a>
    </div>

    <div id="part6">
        <h3>Children</h3>
        <div>
            Our services are not intended for anyone under 16. We don’t direct our services to anyone under16.

            We do not knowingly collect personal information from anyone under 16. We may limit how we collect, use and
            store some of the information of EU or EEA users between ages 13 and 16. We may require your parent’s
            consent before we collect and use that information
        </div>
        <a routerLink="." fragment="tablecontent">Back to content table</a>
    </div>

    <div id="part7">
        <h3>Non-Discrimination Rights</h3>
        <div>
            California residents have the right to not be discriminated against for exercising their rights as described
            in this section. We will not discriminate against you for exercising your CCPA rights.
        </div>
        <a routerLink="." fragment="tablecontent">Back to content table</a>
    </div>

    <div id="part8">
        <h3>Revisions and Changes to the Privacy Policy</h3>
        <div>
            We may change this Privacy Policy from time to time. When we do, we will let you know by notifying you one
            way or another. We may let you know by revising the date at the top of this privacy policy, which is
            available on our websites and mobile applications. We may also provide additional notice, such as adding a
            statement to our homepage, or providing you with an in-app notification.
        </div>
        <a routerLink="." fragment="tablecontent">Back to content table</a>
    </div>
</div>