<div class="container">
    <div class="row">
        <div class="col-12">
            <a routerLink='/'><img class="rounded" src="../../assets/image/logo944x749.jpg"></a>
            <h4>Last Modified: April 3rd, 2020</h4>

            <div id="tablecontent">
                <h2>Table of Contents</h2>
                <ul>
                    <li><a routerLink="." fragment="part1">The Personal Information That We Collect About Resident In
                            California</a></li>
                    <li><a routerLink="." fragment="part2">Categories of Using Your Information On Business/Commercial
                            Purposes</a></li>
                    <li><a routerLink="." fragment="part3">California Rights and Choices</a></li>
                    <li><a routerLink="." fragment="part4">Accessing and Deleting your Personal Information</a></li>
                    <li><a routerLink="." fragment="part5">Sales of Personal Information</a></li>
                    <li><a routerLink="." fragment="part6">Children</a></li>
                    <li><a routerLink="." fragment="part7">Non-Discrimination Rights</a></li>
                    <li><a routerLink="." fragment="part8">Revisions and Changes to the Privacy Policy</a></li>
                    <li><a href="/legal/policy">Back to general policy</a></li>
                </ul>
            </div>

            <div>
                <h2>Users in the State of California (US)</h2>
            </div>

            <div id="part1">
                <h3>The Personal Information That We Collect About Resident In California</h3>
                <div>
                    <div>Certain disclosures about the types of personal information that we can collect and how we can use it are required by The California Consumer Privacy Act. The types of sources from whom we collect personal information, and the third
                        parties with whom we share it with.
                    </div>
                    <div>
                        TroiViet may collect the following types of information as summarized in the table below.
                    </div>
                </div>
                <ul>
                    <li>Your information, including through your use of our services</li>
                    <li>Automatically collected information from you</li>
                    <li>Our partner companies</li>
                    <li>Third parties</li>
                </ul>

                <table border="1">
                    <tr>
                        <th><strong>Personal Information We Collect</strong></th>
                        <th><strong>Third Parties with Which We Share That Information</strong></th>
                    </tr>
                    <tr>
                        <td>Identifiers</td>
                        <td>
                            <ul>
                                <li>Third party service providers and integration partners</li>
                                <li>Affiliate companies</li>
                                <li>Analytics services companies and other Aggregators</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Commercial Information</td>
                        <td>
                            <ul>
                                <li>Third party service providers and integration partners</li>
                                <li>Affiliate companies</li>
                                <li>Analytics services companies and other Aggregators</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Financial Data</td>
                        <td>
                            <ul>
                                <li>Third party service providers and integration partners</li>
                                <li>Affiliate companies</li>
                                <li>Analytics services companies and other Aggregators</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Internet or Other Network or Device Activity</td>
                        <td>
                            <ul>
                                <li>Third party service providers and integration partners</li>
                                <li>Affiliate companies</li>
                                <li>Analytics services companies and other Aggregators</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Location information</td>
                        <td>
                            <ul>
                                <li>Third party service providers and integration partners</li>
                                <li>Affiliate companies</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Legally Protected Classifications</td>
                        <td>
                            <ul>
                                <li>Third party service providers and integration partners</li>
                                <li>Affiliate companies</li>
                                <li>Analytics services companies and other Aggregators</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Other Information that Identifies or Can Be Reasonably Associated with You</td>
                        <td>
                            <ul>
                                <li>Third party service providers and integration partners</li>
                                <li>Affiliate companies</li>
                                <li>Analytics services companies and other Aggregators</li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <a routerLink="." fragment="tablecontent">Back to content table</a>
            </div>

            <div id="part2">
                <h3>Categories of Using Your Information On Business/Commercial Purposes</h3>
                <div>We use your information for the following purposes:
                </div>
                <ul>
                    <li>Supporting our services our account, customer, advertising, marketing, analytics, and communication services</li>
                    <li>Supporting our operational and our service providers and integration partners</li>
                    <li>Improving our current services and developing new services</li>
                    <li>Delivering relevant advertising </li>
                    <li>Detecting and securing our services</li>
                    <li>Maintaining our service</li>
                    <li>Auditing customer activities</li>
                    <li>Improving our commercial or economic interests, such as third party advertising</li>
                    <li>Future usage of your information</li>
                </ul>
                <a routerLink="." fragment="tablecontent">Back to content table</a>
            </div>

            <div id="part3">
                <h3>California Rights and Choices</h3>
                <div>According to the law, California residents have the right to request that we disclose which personal information that we collected, to delete any personal information, and to unsubscribe from the sale of your personal information. California
                    residents can also have the right to pick an agent to use these rights on your behalf. This section describes how to use those rights and our process for handling those requests, including our means of verifying your identity. Please
                    contact us at <a href="mailto:{{'common.label.companyEmail' | translate}}"> {{'common.label.companyEmail' | translate}}</a> for further information regarding your legal rights under applicable law.
                </div>

                <a routerLink="." fragment="tablecontent">Back to content table</a>
            </div>

            <div id="part4">
                <h3>Accessing and Deleting Your Personal Information</h3>
                <div>
                    <div><strong>Accessing and Deleting Your Personal Information</strong></div>
                    <div>California residents have the right to request that we disclose what categories of personal information that we collect, use, or sell about you. You may also request the specific pieces of personal information that we have collected
                        about you. However, we may withhold some information where the risk to you, your personal information, or our business is too great to disclose the information.
                    </div>
                </div>
                <div>
                    <div><strong>Right to Request Deletion of Your Personal Information</strong></div>
                    <div>You can also ask us to delete any personal information that we have collected from/about you. Be aware that we may retain personal information as authorized under applicable law, such as personal information required as necessary to
                        provide our services, protect our business and avoid fraudulent activity. We also need your personal information to debug and identify errors that impair existing functionality, as necessary for us, or others, to use their free
                        speech or other rights, comply with law enforcement requests pursuant to lawful process, for scientific or historical research, for our own internal purposes reasonably related to your relationship with us, or to comply with legal
                        obligations. We need some of your personal information so we can provide our services. If we remove it then you may not be able to access or use our services any more.
                    </div>
                </div>

                <div>
                    <div><strong>How to Use Your Access and Deletion Rights</strong></div>
                    <div>You can email us at <a href="mailto:{{'common.label.companyEmail' | translate}}">{{'common.label.companyEmail' | translate}}</a> to ask for deletion of your personal information</div>
                    <div>We may request identification from you when you request to exercise your California privacy rights.
                    </div>
                    <div>If you have an online account with us, logging into your account will prove your ownership of the account, although we may request additional information in some situations.
                    </div>
                </div>
                <a routerLink="." fragment="tablecontent">Back to content table</a>
            </div>

            <div id="part5">
                <h3>Sales of Personal Information</h3>
                <div>
                    California residents may unsubscribe from the sale of their personal information <a href="/policy/do-not-sell">here</a>.
                </div>
                <a routerLink="." fragment="tablecontent">Back to content table</a>
            </div>

            <div id="part6">
                <h3>Children</h3>
                <div>
                    We are not instent to service customers who are under 16. We may limit how we collect, use and store some of the information of EU or EEA users between ages 13 and 16. We need your parent's consent before we collect and use that information
                </div>
                <a routerLink="." fragment="tablecontent">Back to content table</a>
            </div>

            <div id="part7">
                <h3>Non-Discrimination Rights</h3>
                <div>
                    There is no discrimation when it comes to exercising rights as described in this section. We will not discriminate against you for exercising your CCPA rights.
                </div>
                <a routerLink="." fragment="tablecontent">Back to content table</a>
            </div>

            <div id="part8">
                <h3>Revisions and Changes to the Privacy Policy</h3>
                <div>
                    We keep changing this Privacy Policy all the time. We will try to notify you when we change policy.
                </div>
                <a routerLink="." fragment="tablecontent">Back to content table</a>
            </div>
        </div>
    </div>
</div>