<div class="row text-lg-left" id="items-container">
  <div *ngIf="showMap" class="col-lg-6 pb-3">
    <app-place-search [items]="items"></app-place-search>
  </div>
  <ng-container *ngFor="let item of items; let i = index;">
    <div id="{{item._id}}" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-3 hover-high-light overflow">
      <app-item [item]="item"
        (showModalEvent)="handleShowModalEvent(i)"
        [showExpired]="showExpired">
        <div
          *ngIf="authSvc?.user && (authSvc?.user?.username == item?.createdBy?.username || authSvc?.user?.role === 'ADMIN')">
          <div class="dropdown-divider"></div>
          <button class="btn dropdown-item text-primary pl-0 ml-1 w-75"
            (click)="deleteItem(i, item._id)">{{"common.label.delete" | translate}}</button>
          <button *ngIf="authSvc?.user?.username == item?.createdBy?.username"
            class="btn dropdown-item text-primary pl-0 ml-1 w-75" (click)="editItem(item._id)">
            {{"common.label.edit" | translate}}
          </button>
        </div>
      </app-item>
    </div>
  </ng-container>
</div>