<div class="row text-lg-left" id="items-container">
  <ng-container *ngFor="let item of items; let i = index;">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 10%;">
      <app-item [item]="item" [baseUrl]="baseUrl" [isShowingTag]="isShowingTag">
        <div *ngIf="authSvc.user && (authSvc.user.username == item.createdBy.username || authSvc.user.role ==='ADMIN')">
          <div class="dropdown-divider"></div>
          <button class="btn dropdown-item text-primary pl-0 ml-1" (click)="deleteItem(i, item._id)">Delete</button>
        </div>
      </app-item>
    </div>
  </ng-container>
</div>