<div #outterCanvas canvasNavigator (outterCanvasXYEmitter)="handleCanvasMoving($event)" class="border">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
        <line #connectedLines *ngFor="let node of node.neighbors; let i = index" stroke-width="1" class="line" />
    </svg>

    <div #root myDraggable (xyEmitter)="onFromValueReceived($event)" [style.top.px]="node.coordinates.top"
        [style.left.px]="node.coordinates.left">
        <app-node id="root" [node]="node"></app-node>
    </div>

    <ng-container *ngFor="let node of node.neighbors; let i = index">
        <div #neighbors myDraggable (xyEmitter)="onToValueReceived($event, i)" [style.top.px]="node.coordinates.top"
            [style.left.px]="node.coordinates.left">

            <app-node id="btn{{i}}" [node]="node">
            </app-node>
        </div>
    </ng-container>
</div>