<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center text-success">Sign In</h5>
          <h5 *ngIf="error" class="alert-danger">{{error}}</h5>
          <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="on">
            <div class="form-label-group">
              <label class="text-primary" for="username">Username/Email</label>
              <input type="text" autofocus formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required!</div>
                <div *ngIf="f.username.errors.maxlength">Username should contain no more than 50 characters!</div>
                <div *ngIf="f.username.errors.whitespace">Username can't be blank space only!</div>
              </div>
            </div>

            <div class="form-label-group">
              <label class="text-primary" for="password">Password</label>
              <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" autocomplete="on" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required!</div>
              </div>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label text-primary" for="customCheck1">Remember password</label>
            </div>
            <div class="row">
              <div class="col-md-6">
                <button class="btn-success btn-lg btn-block " type="submit" value="Submit">Sign in</button>
              </div>
              <div class="col-md-6">
                <a class="btn-primary btn-lg btn-block text-center" href="/register">Register</a>
              </div>
            </div>
            <hr class="my-4">
            <button class="btn-success btn-lg btn-block " type="submit" (click)="loginWithGoogle($event);">
              Sign in with Google</button>
            <button class="btn-primary btn-lg btn-block " type="submit" (click)="loginWithFacebook($event);">
              Sign in with Facebook</button>
            <div class="form-group">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>