<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center text-success">{{"login.label" | translate}}</h5>
          <h5 *ngIf="error" class="alert-danger">{{error}}</h5>
          <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="on">
            <div class="form-label-group">
              <label class="text-primary" for="username">{{"login.username.label" | translate}}</label>
              <input type="text" autofocus formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.pattern">{{"login.username.validate.between" | translate}}</div>
                <div *ngIf="f.username.errors.whitespace">{{"login.username.validate.whitespace" | translate}}</div>
              </div>
            </div>

            <div class="form-label-group mb-3">
              <label class="text-primary" for="password">{{"login.password.label" | translate}}</label>
              <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" autocomplete="on" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">{{"login.password.validate.required" | translate}}</div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <button class="btn-success btn-lg btn-block " type="submit" value="Submit">{{"login.label" | translate}}</button>
                <a href="/requestResetPassword">{{"login.password.forget" | translate}}</a>
              </div>
              <div class="col-md-6">
                <a class="btn-primary btn-lg btn-block text-center" href="/register">{{"common.label.register" | translate}}</a>
              </div>
            </div>
            <hr class="my-4">
            <button class="btn-success btn-lg btn-block " type="submit" (click)="loginWithGoogle($event);">
              {{"login.google.label" | translate}}</button>
            <button class="btn-primary btn-lg btn-block " type="submit" (click)="loginWithFacebook($event);">
              {{"login.facebook.label" | translate}}</button>
            <div class="form-group">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>