<div class="row text-lg-left" id="items-container">
    <ng-container *ngFor="let item of items; let i = index">
        <div class="col-lg-3 col-md-4 col-xs-6 pb-3">
            <app-item [item]="item">
                <a class="dropdown-item" href="/items/{{item._id}}">Edit</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)" (click)="deleteItem(i, item._id)">Delete</a>
            </app-item>
        </div>
    </ng-container>
</div>

<div class="row">
    <div class="input-group col-md-2">
        <a (click)="loadNext()" class="btn btn-primary d-inline" role="button">Next</a>
    </div>
</div>