<div id="myListItems">
    <h2 class="text-center text-success mb-5">{{"common.label.myItems" | translate}}</h2>
    <div class="row pb-3">
        <div class="col-12">
          <ng-container *ngFor="let key of params | keyPipe">
            <ng-container>
              <button class="mr-2" [ngClass]="{'btn-success': key=='tag', 'btn-primary': key=='category'}"
                (click)="removeFilter(key)">
                <span>{{params[key]}}</span>
                <span class="ml-1">(X)</span>
              </button>
            </ng-container>
          </ng-container>
        </div>
      </div>
    <app-items [items]="items" [showMap]="false"></app-items>
</div>

<div class="row">
    <div class="input-group col-md-2">
        <a (click)="loadNext()" class="btn btn-primary d-inline text-white" role="button">{{"common.label.next" | translate}}</a>
    </div>
</div>