<div class="mt-2 mb-2 input-group input-group-sm">
    <div class="input-group-prepend">
        <span class="btn btn-xs btn-success" id="inputGroup-sizing-sm"><i class="fas fa-search"></i></span>
    </div>
    <input id="autocomplete" placeholder="enter searching area" type="text" class="form-control" aria-label="Small"
        aria-describedby="inputGroup-sizing-sm" [(ngModel)]="location" style="text-align: right">
    <div class="input-group-append">
        <span class="btn btn-xs input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-location"></i></span>
    </div>
</div>