<div class="mt-2 mb-2">
    <div class="input-group input-group-sm mb-1">
        <input id="minPrice" placeholder="Min price" type="number" min="0" value="0" class="form-control col-2 mr-1"
            aria-label="Small" aria-describedby="inputGroup-sizing-sm" style="text-align: right" (change)="onMinPriceChange($event)"/>
        <input id="maxPrice" placeholder="Max price" type="number" class="form-control col-2 mr-1" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm" style="text-align: right" (change)="onMaxPriceChange($event)"/>
        <input id="keyWord" placeholder="Enter key word" type="text" class="form-control col-8" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm" style="text-align: right" (change)="onTextSearchChange($event)"/>
    </div>
    <div class="">
        <input #autocompleteSearchBox id="autocomplete" placeholder="Enter searching area" type="text"
            class="form-control col-12" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            style="text-align: right">
    </div>
</div>
<div #map id="map" style="width: 100%; height: 500px;"></div>

<div #infoContentRef id="info-content">
    <table>
        <tr id="iw-url-row" class="iw_table_row">
            <td class="header iw_table_icon"><i class="fa fa-store"></i></td>
            <td class="data" id="iw-url"><img [src]="url" style="width: 200px; height: 100px; object-fit: scale-down;">
            </td>
        </tr>
        <tr id="iw-address-row" class="iw_table_row">
            <td class="header iw_attribute_name">{{"item.upload.address.address1" | translate}}:</td>
            <td class="data" id="iw-address">
                {{address}}</td>
        </tr>
        <tr id="iw-phone-row" class="iw_table_row">
            <td class="header iw_attribute_name">{{"item.upload.contactPhone.label" | translate}}:</td>
            <td class="data" id="iw-phone">{{contactPhoneNo | mask: '(000) 000-0000'}}</td>
        </tr>
        <tr id="iw-income-row" class="iw_table_row">
            <td class="header iw_attribute_name">{{"item.upload.income.label" | translate}}:</td>
            <td class="data" id="iw-income">{{income}}</td>
        </tr>
        <tr id="iw-rentCost-row" class="iw_table_row">
            <td class="header iw_attribute_name">{{"item.upload.rent.label" | translate}}:</td>
            <td class="data" id="iw-rentCost">{{rentCost}}</td>
        </tr>
        <tr id="iw-otherCost-row" class="iw_table_row">
            <td class="header iw_attribute_name">{{"item.upload.otherCost.label" | translate}}:</td>
            <td class="data" id="iw-otherCost">{{otherCost}}</td>
        </tr>
        <tr id="iw-otherCost-row" class="iw_table_row">
            <td class="header iw_attribute_name">{{"item.upload.area.label" | translate}}:</td>
            <td class="data" id="iw-area">{{area}}</td>
        </tr>
        <tr id="iw-noOfEmployees-row" class="iw_table_row">
            <td class="header iw_attribute_name">{{"item.upload.noOfEmployees.label" | translate}}:</td>
            <td class="data" id="iw-noOfEmployees">{{noOfEmployees}}</td>
        </tr>
        <tr id="iw-noOfTables-row" class="iw_table_row">
            <td class="header iw_attribute_name">{{"item.upload.noOfTables.label" | translate}}:</td>
            <td class="data" id="iw-noOfTables">{{noOfTables}}</td>
        </tr>
        <tr id="iw-noOfChairs-row" class="iw_table_row">
            <td class="header iw_attribute_name">{{"item.upload.noOfChairs.label" | translate}}:</td>
            <td class="data" id="iw-noOfChairs">{{noOfChairs}}</td>
        </tr>
    </table>
</div>