<div class="mt-2 mb-2 input-group input-group-sm">
    <input #autocompleteSearchBox id="autocomplete" placeholder="Enter searching area" type="text" class="form-control"
        aria-label="Small" aria-describedby="inputGroup-sizing-sm" style="text-align: right">
</div>
<div #map id="map" style="width: 100%; height: 500px;"></div>

<div #infoContentRef id="info-content">
    <table>
        <tr id="iw-url-row" class="iw_table_row">
            <td class="header iw_table_icon"><i class="fa fa-store"></i></td>
            <td class="data" id="iw-url"><img [src]="url" style="width: 200px; height: 100px; object-fit: scale-down;">
            </td>
        </tr>
        <tr id="iw-address-row" class="iw_table_row">
            <td class="header iw_attribute_name">Địa chỉ:</td>
            <td class="data" id="iw-address">
                {{address}}</td>
        </tr>
        <tr id="iw-phone-row" class="iw_table_row">
            <td class="header iw_attribute_name">Số Điện Thoại:</td>
            <td class="data" id="iw-phone">{{contactPhoneNo | mask: '(000) 000-0000'}}</td>
        </tr>
        <tr id="iw-income-row" class="iw_table_row">
            <td class="header iw_attribute_name">Thu nhập/tháng:</td>
            <td class="data" id="iw-income">{{income}}</td>
        </tr>
        <tr id="iw-rentCost-row" class="iw_table_row">
            <td class="header iw_attribute_name">Rent/tháng:</td>
            <td class="data" id="iw-rentCost">{{rentCost}}</td>
        </tr>
        <tr id="iw-otherCost-row" class="iw_table_row">
            <td class="header iw_attribute_name">Chi phí khác/tháng:</td>
            <td class="data" id="iw-otherCost">{{otherCost}}</td>
        </tr>
        <tr id="iw-noOfEmployees-row" class="iw_table_row">
            <td class="header iw_attribute_name">Số thợ:</td>
            <td class="data" id="iw-noOfEmployees">{{noOfEmployees}}</td>
        </tr>
        <tr id="iw-noOfTables-row" class="iw_table_row">
            <td class="header iw_attribute_name">Số bàn:</td>
            <td class="data" id="iw-noOfTables">{{noOfTables}}</td>
        </tr>
        <tr id="iw-noOfChairs-row" class="iw_table_row">
            <td class="header iw_attribute_name">Số ghế:</td>
            <td class="data" id="iw-noOfChairs">{{noOfChairs}}</td>
        </tr>
    </table>
</div>