ul#listItemsDetails {
    list-style-type: none;
}

.avatar {
    width: 75%;
    padding-right: 0;
    border-radius: 5%;
    margin-bottom: 0.05rem;
}

@media (max-width: 1440px) {
    .avatar {
        width: 85%;
        max-width: 85%;
    }
}

@media (max-width: 1024px) {
    .avatar {
        width: 85%;
        max-width: 85%;
    }
}

@media (max-width: 767.98px) {
    .avatar {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .avatar {
        width: 25%;
        max-width: 25%;
    }
}

.not-playable {
    pointer-events: none;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-hidden:hover a {
    display: inline-flex !important;
}

.text-overflow div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-overflow div:hover {
    overflow: visible;
    white-space: pre-wrap;
}