ul#listItemsDetails {
    list-style-type: none;
}

.avatar {
    vertical-align: middle;
    width: 1.625rem;
    height: 1.625rem;
    border-radius: 5%;
    margin-bottom: 0.25rem;
}

.pictureFrame {
    height: 14.18125rem;
    width: 100%;
    overflow: auto;
}