<div>
  <img class="avatar d-inline float-left mr-2" src="{{item.createdBy.avatar}}" alt="Avatar">
  <div class="float-left pr-1 text-success">{{item.createdBy.userName}} . {{item.createdBy.rank}}</div> <br>
  <div class="float-left pr-1 text-primary">{{item.title | uppercase}}</div>
</div>
<div class="pictureFrame">
  <a class="d-block" (click)="showItemModal()" aria-hidden="true" data-toggle="modal" data-target="#itemDetails">
    <img class="img-fluid img-thumbnail" src="{{item.url}}" alt="">
  </a>
</div>
<div class="text-success">Comments({{item.noOfComments}}) - Points({{item.noOfPoints}})</div>
<div class="mb-2">
  <a *ngFor="let tag of item.tags" href="#" class="mr-1">#{{tag}}</a>
</div>
<app-react [item]="item"></app-react>