ul#listItemsDetails {
    list-style-type: none;
}

.avatar {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 5%;
}

.pictureFrame {
    height: 226.900px;
    width: 100%;
    overflow: hidden;
}