<div *ngIf="item">
    <div class="row text-overflow">
        <div class="col-sm-2 col-md-3 col-3 pr-0">
            <img class="rounded avatar" src="{{item.createdBy?.avatar | imageMobileLinkPipe}}"
                default="{{item.createdBy?.avatar}}" alt="Avatar">
        </div>
        <div class="col-sm-10 col-md-9 col-9 text-success p-0">
            <div class="row m-0">
                {{item.modifiedDate | date:'shortDate'}} . {{item.createdBy?.username}}
            </div>
            <div class="row m-0">
                <span class="text-primary font-weight-bold">{{item.businessName}}</span>
            </div>
            <div *ngIf="showExpired" class="row m-0">
                <span *ngIf="item.expired" class="text-danger font-weight-bold">{{"common.label.expired" |
                    translate}}</span>
                <span *ngIf="item.status==='REFUNDED'" class="text-danger font-weight-bold">{{"common.label.refunded" |
                    translate}}</span>
            </div>
        </div>
    </div>
    <div class="row text-overflow">
        <div class="col-12">
            <a class="text-success font-weight-bold">{{item.title}}</a>
            <span class="float-right text-primary font-weight-bold">{{item.price | currency:'USD'}}</span>
        </div>
    </div>
    <div>
        <ng-container>
            <div class="row overflow-hidden">
                <div class="col-12">
                    <a *ngFor="let cate of item.categories" queryParamsHandling="merge" [routerLink]="[]"
                        [queryParams]="{category: cate, id: null}" class="mr-1">@{{cate}}</a>
                    <a *ngFor="let tag of item.tags" queryParamsHandling="merge" [routerLink]="[]"
                        [queryParams]="{tag: tag, id: null}" class="mr-1">#{{tag}}</a>
                </div>
            </div>
        </ng-container>
        <div class="row text-success">
        </div>
        <div class="row">
            <div class="col-12">
                <app-react [item]="item">
                    <ng-content></ng-content>
                </app-react>
            </div>
        </div>
    </div>
    <ng-container *ngIf="item.files && item.files.length > 0">
        <div class="picture-frame" data-toggle="tooltip" data-placement="bottom" title="{{item.overview}}">
            <a class="d-block" [routerLink]="[]" queryParamsHandling="merge" [queryParams]="{id:item._id}">
                <img *ngIf="item.files[0].fileType?.match('image*')" class="img-fluid img-thumbnail mh-480"
                    [src]="item.files[0].url | imageMobileLinkPipe" default="{{item.files[0].url}}" alt="Unavailable">
                <app-meme-video *ngIf="item.files[0].fileType?.match('video*')" [link]="item.files[0].url"
                    [fileType]="item.files[0].fileType" [customClass]="'mh-480'"></app-meme-video>
            </a>
        </div>
    </ng-container>
</div>