<div class="container">
    <div class="row">
        <div class="col-12">
            <a routerLink='/'><img class="rounded" src="../../assets/image/logo944x749.jpg"></a>
            <div>
                <h4>Last Modified: Agust 20th, 2022</h4>
            </div>
            <div id="tablecontent">
                <h2>Main Contents</h2>
                <ul>
                    <li><a routerLink="." fragment="part1">Our Way Of Collecting Information</a></li>
                    <li><a routerLink="." fragment="part2">Our Way Of Getting Information</a></li>
                    <li><a routerLink="." fragment="part3">Our Way Of Using Your Information</a></li>
                    <li><a routerLink="." fragment="part4">Our Way Of Sharing Information</a></li>
                    <li><a routerLink="." fragment="part5">Third Party Content and Integrations</a></li>
                    <li><a routerLink="." fragment="part6">Advertising Services</a></li>
                    <li><a routerLink="." fragment="part7">Duration Of Your Information</a></li>
                    <li><a routerLink="." fragment="part8">Our Way Of Controlling Over Your Information</a></li>
                    <li><a routerLink="." fragment="part9">Our Policy On Children’s Information</a></li>
                    <li><a routerLink="." fragment="part10">Revisions and Changes</a></li>
                </ul>
            </div>
            <div>
                <h3>If you are from EU or California, please read privacy policies in the links below:
                </h3>
                <ul>
                    <li><a href="/legal/policy-eu">EU Privacy Policy</a></li>
                    <li><a href="/legal/policy-ca">California Privacy Policy</a></li>
                </ul>

                <h3>About Our Privacy Policy</h3>
                <ul>
                    <li>
                        TroiViet is a website where you can make and share creative memes to entertain each other.
                    </li>
                    <li>
                        The TroiViet provide services adhering to this Privacy Policy which help you to make, share and enjoy all the cultures of all countries in the world through meme.
                    </li>
                    <li>
                        We will use some of your information while you are using our service . We show you clearly what information we get, why we get it, how we use it, whom we share it with and the accessibility that we provide you to update, and delete your information.
                    </li>
                    <li>
                        Feel free to contact us at <a href="mailto:{{'common.label.companyEmail' | translate}}">{{'common.label.companyEmail' | translate}}</a> if you have any questions.
                    </li>
                </ul>
                <div id="part1">
                    <h3>Our Way Of Collecting Information</h3>
                    <div>There are 3 ways that we collect your information:</div>
                    <ul>
                        <li>The information that you agree to give us</li>
                        <li>The information that we collect when you use our service</li>
                        <li>Information that the third parties give us</li>
                    </ul>
                    <a routerLink="." fragment="tablecontent">Back to content table</a>
                </div>
                <div>
                    <div id="part2">
                        <h3>The information that you agree to give us</h3>
                        <ul>
                            <li>When using our services, you agree to give us some information. For example, most of our services require you to set up a basic TroiViet account such as: a unique username, a password, an e-mail address.</li>
                            <li>
                                When you create a post or a comment, you are able to upload pictures and voice. We will keep those information in our database. Please remember don't upload your personal information in a post or comment because everybody who are using our website will
                                be able to see your comment and post. </li>
                            <li>There will be situations that we’ll collect any information you give us such as a phone number or personal email.
                            </li>
                        </ul>
                        <h3>Information We Get When You Use Our Services</h3>

                        <div>When using our services, we will collect information of the services you use and the way you use them. For example, we will collect information about the device you are using (desktop, mobile browser, or mobile app), the tag you
                            assign to the post, the average time you spend suffering on our website.
                        </div>

                        <strong>Usage Information. </strong> We collect information about your activity for example:
                        <ul>
                            <li>
                                Which tag you are looking at, average of suffering time, the comment you wrote, the post you created, shared or voted.
                            </li>
                        </ul>

                        <strong>Content Information.</strong> <span>We collect content you create on our services for
                            example:</span>
                        <ul>
                            <li>
                                The images, videos, voice message and text message you upload.
                            </li>
                        </ul>

                        <div>We also collect information about the content you create. For example:</div>
                        <ul>
                            <li>When you created the content</li>
                            <li>Where you created the content</li>
                            <li>Which device you used to create the content</li>
                        </ul>

                        <span><strong>Device Information.</strong> We collect information of your device for
                            example:</span>
                        <ul>
                            <li>Information about your hardware model, software such as operating system version, advertising identifiers, unique application identifiers and unique device identifiers.
                            </li>
                            <li>Information about your wireless and mobile network connections.
                            </li>
                        </ul>

                        <div> <strong>Camera and Photos.</strong> If you are using a mobile device we need your permission to access the camera and photos to be able to upload pictures or videos from your device.
                        </div>

                        <div><strong>Location Information.</strong>When you are using a mobile device we collect your information such as GPS, wireless networks, and Wi-Fi access points.</div>

                        <div><strong>Information Collected by Cookies and Other Technologies.</strong> We collect your web cookies, web beacons, web storage, and unique advertising identifier. You can accept or reject browser cookies through the settings on
                            your browser or device. Removing or rejecting cookies may affect the services we provide.
                        </div>

                        <div><strong>Log Information.</strong> We collect your usage activity for example:
                        </div>

                        <ul>
                            <li> How have you used our services.</li>
                            <li> Access times.</li>
                            <li> Pages and content viewed.</li>
                            <li> IP address.</li>
                            <li> Pages you visited before or after visiting our website or using our service.</li>
                        </ul>

                        <h3>Information We Collect From Third Parties</h3>
                        <div>We may get information from our third partner for example:</div>

                        <ul>
                            <li>Facebook's information if you login by Facebook account.</li>
                            <li>Google's information if you login by Google account.</li>
                            <li>If you interact with one of our advertisers, they may share information with us to target or measure ad performance.</li>
                        </ul>
                        <a routerLink="." fragment="tablecontent">Back to content table</a>
                    </div>

                    <div id="part3">
                        <h2>Our Way Of Using Information</h2>
                        <div>We collect above information for these following purposes:
                        </div>
                        <ul>
                            <li> To develop, maintain, improve and protect our website.</li>
                            <li> To monitor and analyze trends and usages of website.</li>
                            <li> To communicate and support you.</li>
                            <li> To provide you better and more relevant content. </li>
                            <li> To provide you better and more relevant ads.</li>
                            <li> To improve safety and security of our products and services.</li>
                            <li> To protect your identity and prevent fraud, or other authorized and illegal activity.
                            </li>
                            <li> To enhance our services and products.
                            </li>
                            <li> To enforce our Terms of Service, Community Rules, and other usage policies.</li>
                        </ul>
                        <a routerLink="." fragment="tablecontent">Back to content table</a>
                    </div>

                    <div id="part4">
                        <h2>Our Way Of Sharing Information</h2>

                        <div>We may share your information with</div>

                        <div><strong>With other TroiViet Users.</strong> For example :
                        </div>
                        <ul>
                            <li>Your name, username, and profile pictures.</li>
                            <li>Your posts and comments.</li>
                            <li>Your vote for the posts or comments. </li>
                        </ul>
                        <div>
                            <strong>With all TroiViet Users, our business partners, and the general public.</strong> For examples:
                        </div>
                        <ul>
                            <li> Your name, username, and profile pictures.</li>

                            <li> Your posts and comments.</li>

                            <li> Your sharing of posts on Facebook or Twitter.
                            </li>
                        </ul>


                        <div><strong>With third parties.</strong> For examples:
                        </div>

                        <ul>

                            <li> <strong> With business partners. </strong> We may give information about you with business partners that provide services and functionality.</li>

                            <li> <strong>With third parties for legal reasons.</strong> We may share information about you if we reasonably believe that disclosing the information is necessary. Examples include:
                                <ul>
                                    <li> To comply with any valid legal process, governmental request, or applicable law, rule or regulation.</li>
                                    <li> To investigate, enforce, or remedy potential Terms of Service violations</li>
                                    <li> To protect the safety, rights, and property of TroiViet, our users, or others.
                                    </li>
                                    <li> To detect and resolve any fraud or security matters or concerns.</li>
                                </ul>
                            </li>

                            <li> <strong> With third parties as part of a merger or acquisition. </strong>In case TroiViet Limited merges with another company we may share your information with the company before, during, and after the transaction.</li>
                        </ul>
                        <div>
                            We may also share mined data non-personally identifiable with third parties, such as advertisers.
                        </div>
                        <a routerLink="." fragment="tablecontent">Back to content table</a>
                    </div>

                    <div id="part5">
                        <h2>Third-Party Content and Integrations</h2>
                        <div>
                            You might provide information to the third party through links, third-party integrations, and co-branded or third-party-branded services, you may be providing information, including personal information, directly to the third party, to us, or to both.
                            You acknowledge and agree that we are not responsible for how those third parties collect or use your information. We encourage you to review the privacy policies of every third-party service you visit or use, including those
                            third parties you interact with through our services.
                        </div>
                        <a routerLink="." fragment="tablecontent">Back to content table</a>
                    </div>

                    <div id="part6">
                        <h2>Analytics and Advertising Services</h2>
                        <h3>Provided by Others</h3>
                        <div>
                            We may let partners analyze and track data, determine the popularity of certain content, and under your online activity, among other things.
                        </div>

                        <div>
                            Some companies, including our partner, may utilize information collected on our services to measure the performance of ads and deliver more relevant ads, including on third-party websites and apps.
                        </div>

                        <div>
                            <h3>Provided by TroiViet</h3>
                            <div>
                                We may collect third parties' cookies information to show you relevant ads. Visit our Advertising Preferences page to learn more about TroiViet advertising and how you can control the information used to select the ads you see.
                            </div>
                        </div>
                        <a routerLink="." fragment="tablecontent">Back to content table</a>
                    </div>

                    <div id="part7">
                        <h2>Duration Of Your Information</h2>
                        <div>
                            TroiViet stores your information, the posts you upload, and the comments you upload for a period of time for example:
                        </div>
                        <ul>
                            <li>
                                We keep your basic information such as your name, username, and email address until you ask us to delete them</li>

                            <li>We keep information for different lengths of time based on how correct it is and which services you use.</li>

                            <li>
                                We are constantly gathering information about the things you like or dislike, so we can give you more relevant data, ads, and better user experience.
                            </li>
                        </ul>

                        <div>You can ask us to delete your account if you don't want to use TroiViet anymore.</div>
                        <div>
                            There could be laws required us to store your data before completely delete your account. We may also need to retain certain information in backup for a limited period of time after deleting your account.
                        </div>
                        <a routerLink="." fragment="tablecontent">Back to content table</a>
                    </div>

                    <div id="part8">
                        <h2>Control over Your Information</h2>
                        <div>
                            Your privacy is very important to you and to us. We give you control over the information you give us, the information we use, and the information we keep. These are the tools we provide you to control your information:
                            <ul>
                                <li>
                                    <strong>Removing Permissions. </strong> You can change your mind at any time by changing the settings on your device but it may impact functionality of some services.
                                </li>
                                <li>
                                    <strong>Deletion.</strong> If you want to delete your account please send email to
                                    <a href="mailto:{{'common.label.companyEmail' | translate}}">{{'common.label.companyEmail' | translate}}</a>
                                </li>
                            </ul>
                        </div>
                        <a routerLink="." fragment="tablecontent">Back to content table</a>
                    </div>

                    <div id="part9">
                        <h2> Children’s Information Policy</h2>
                        <div>
                            We do not keep personal information from anyone under 16 on purpose. We also limit of collecting or using some of the information of EU or EEA users between ages 13 and 16. We may require your parent’s consent before we collect and use that information.
                        </div>
                        <a routerLink="." fragment="tablecontent">Back to content table</a>
                    </div>

                    <div id="part10">
                        <h2>Revisions and Changes to the Privacy Policy</h2>
                        <div>
                            We keep changing this Privacy Policy all the time. We will try to notify you when we change policy.
                        </div>
                        <a routerLink="." fragment="tablecontent">Back to content table</a>
                    </div>

                </div>
            </div>
        </div>
    </div>