<div>
    <a routerLink='/'><img class="rounded" src="../../assets/image/logo944x708.png"></a>
    <h4>Last Modified: Jan 21, 2020</h4>

    <div id="tablecontent">
        <h2>Table of Contents</h2>
        <ul>
            <li><a routerLink="." fragment="part1">Information We Collect</a></li>
            <li><a routerLink="." fragment="part2">How We Collect Information</a></li>
            <li><a routerLink="." fragment="part3">How We Use Your Information</a></li>
            <li><a routerLink="." fragment="part4">How We Share Information</a></li>
            <li><a routerLink="." fragment="part5">Third Party Content and Integrations</a></li>
            <li><a routerLink="." fragment="part6">And Advertising Services</a></li>
            <li><a routerLink="." fragment="part7">How Long We Keep Your Information</a></li>
            <li><a routerLink="." fragment="part8">Control Over Your Information</a></li>
            <li><a routerLink="." fragment="part9">Our Policy On Children’s Information</a></li>
            <li><a routerLink="." fragment="part10">Revisions and Changes</a></li>
        </ul>
    </div>
    <div>
        <h3>If you are an EU or California resident, please read region specific privacy policies in the links below:
        </h3>
        <ul>
            <li><a href="/legal/policy-eu">Privacy Policy for EU</a></li>
            <li><a href="/legal/policy-ca">Privacy Policy for California</a></li>
        </ul>
    </div>

    <h3>If you have other privacy related questions or would like to make a data request, click on the link below:
    </h3>
    <ul>
        <li>Contact Us About Your Privacy</li>
    </ul>
    <h3>About Our Privacy Policy</h3>
    <ul>
        <li>
            Me2Meme Limited is a media company. Our mission is to help you make, manage and share high quality,
            creative memes to entertain all of us each other.
        </li>
        <li>
            The Me2Meme services that link to this Privacy Policy provide fun ways for you to create, share, and
            discover the best content in the world.
        </li>
        <li>
            You’ll share some information with us while using our service . We explain clearly what
            information we collect, why we collect it, how we use it, whom we share it with, and the controls we
            give you to access, update, and delete your information. If you have any
            questions about anything in our Privacy Policy, please contact us.
        </li>
    </ul>
    <div id="part1">
        <h3>Information We Collect</h3>
        <div>There are three basic categories of information we collect:</div>
        <ul>
            <li>Information you choose to give us</li>
            <li>Information we get when you use our services</li>
            <li>Information we get from third parties</li>
        </ul>
        <a routerLink="." fragment="tablecontent">Back to content table</a>
    </div>
    <div>
        <div id="part2">
            <h2>How We Collect Information</h2>
            <h3>Information You Choose To Give Us</h3>
            <ul>
                <li>When you use and interact with our services, we collect the information you choose to share with us.
                    For example, most of our services require you to set up a basic Me2Meme account, so we need to
                    collect a few important details about you, such as: a unique username you choose, a password, an
                    e-mail address, and your date of birth. To make it easier for others to find you, we may also ask
                    you to provide us additional information that will be publicly visible on our services, for example
                    a profile picture, a name, or other identifiable information.</li>
                <li>
                    You’ll also provide any information you send through our services, such as post and comment uploads.
                    Keep in mind that the posts and comments you upload can be seen publicly, and can always be saved
                    and copied outside of our services. Please don’t share content you wouldn’t want someone to save or
                    share. </li>
                <li>Lastly, when you contact us or communicate with us in any way, we’ll collect any information you
                    give us.
                </li>
            </ul>
            <h3>Information We Get When You Use Our Services</h3>

            <div>When you use our services, we collect information about which services you use and how you use them.
                For example, we may know what section or post you are reading, when you’re reading it, and how you’re
                reading it (desktop, mobile browser, or mobile app). Here’s a more detailed explanation of the
                information we collect when you use our services:
            </div>

            <strong>Usage Information. </strong> We collect information about your activity through our services. For
            example:

            <ul>
                <li>
                    How you interact with our services, such as what sections you look at, what you search for, what
                    posts
                    and
                    comments you upload, or what posts and comments you upvote or downvote.
                </li>
            </ul>

            <strong>Content Information.</strong> <span>We collect content you create on our services. For
                example:</span>

            <ul>
                <li>
                    The images, videos, voice message and text message you upload.
                </li>
            </ul>

            <div>We also collect information about the content you create. For example:</div>

            <ul>
                <li>When you created the content</li>
                <li>Where you created the content</li>
                <li>How you created the content such as device information</li>
            </ul>

            <div>We also collect information about how other users interact with your content. For example:</div>

            <ul>
                <li>Post upvotes and downvotes</li>
                <li>Comments and comment upvotes and downvotes</li>
            </ul>

            <span><strong>Device Information.</strong> We collect information from and about the devices you use. For
                example:</span>

            <ul>
                <li>Information about your hardware and software, such as hardware model, operating system version,
                    device
                    memory,advertising identifiers, unique application identifiers, unique device identifiers, and
                    language.
                </li>
                <li>Information about your wireless and mobile network connections, such as your type of network
                    connection.
                </li>
            </ul>

            <div> <strong>Camera and Photos.</strong> Some of our services require us to collect images and other
                information
                from your devices’s camera and photos. For example, you won’t be able to upload images or videos from
                your
                camera roll unless we can access your camera or media library. </div>

            <div><strong>Location Information.</strong> When you use our services, we may collect information about your
                location. With your permission, we may also collect information about your precise location using
                methods
                that
                include GPS, wireless networks, and Wi-Fi access points.</div>

            <div><strong>Information Collected by Cookies and Other Technologies.</strong> We may use cookies and other
                technologies such as web beacons, web storage, and unique advertising identifiers to collect information
                about
                your activity, browser, and device. We may use these technologies to collect information when you
                interact
                with
                services we offer through one of our partners, such as advertising and commerce features. Most web
                browsers
                are
                set to accept cookies by default. It is up to you to move or reject browser cookies through the settings
                on
                your
                browser or device. Removing or rejecting cookies may affect our service function and availability.
            </div>

            <div><strong>Log Information.</strong> We also collect log information when you use our services. For
                example:
            </div>

            <ul>
                <li> Details about how you’ve used our services.</li>
                <li> Device information, such as web browser type and language.</li>
                <li> Access times.</li>
                <li> Pages and content viewed.</li>
                <li> IP address.</li>
                <li> Identifiers associated with cookies or other technologies that may uniquely identify your device or
                    browser.</li>
                <li> Pages you visited before or after visiting our website or using our service.</li>
            </ul>

            <h3>Information We Collect From Third Parties</h3>
            <div>We may collect information from our affiliates and third parties. For example:</div>

            <ul>
                <li>If you use your Google or Facebook account to sign up or sign in to our services, we may receive
                    information so you can create or access your Me2Meme account.</li>

                <li>If you interact with one of our advertisers, they may share information with us to help target or
                    measure ad performance.</li>
            </ul>
            <a routerLink="." fragment="tablecontent">Back to content table</a>
        </div>

        <div id="part3">
            <h2>How We Use Information</h2>
            <div>We use your information to provide you with the best products and services we can build and improve.
                Here’s what we use this information for:
            </div>
            <ul>
                <li> To develop, maintain, improve, deliver, and protect our products and services.</li>
                <li> Monitor and analyze trends and usages of our products and services.</li>
                <li> Send you communications, including by e-mail. Examples include using e-mail to respond to support
                    inquiries, or to share information about our products, services, and promotional offers that we
                    think may interest you.
                </li>
                <li> Personalize our services by showing you better and more relevant content. </li>
                <li> Provide ad targeting and measurement, including the use of your precise location information to
                    show relevant ads.</li>
                <li> Enhance and enforce the safety and security of our products and services.</li>
                <li> Verify your identity and prevent fraud, or other authorized and illegal activity.</li>
                <li> Use information we’ve collected cookies and other data to enhance our services and products.</li>
                <li> Enforce our Terms of Service, Community Rules, and other usage policies.</li>
            </ul>
            <a routerLink="." fragment="tablecontent">Back to content table</a>
        </div>

        <div id="part4">
            <h2>How We Share Information</h2>

            <div>We may share information about you in the following ways:</div>

            <div><strong>With other Me2Meme Users.</strong> We may share information with other Me2Meme users. Examples
                include:
            </div>
            <ul>
                <li>Information about you, such as your name, username, and profile pictures.</li>
                <li>Information you upload, such as image or video posts.</li>
                <li>Information about how you interacted with our services, such as the content you post, the comments
                    you post, and the content you upvote. </li>
            </ul>
            <div>
                <strong>With all Me2Meme Users, our business partners, and the general public.</strong> We may share
                information with all Me2Meme users, our business partners, and the general public. Examples include:
            </div>
            <ul>
                <li> Public information like your name, username, and profile pictures.</li>

                <li> Content submissions set to be viewable by everyone.</li>

                <li> Content from our services that you share on other services, such as Facebook or Twitter.</li>
            </ul>
            <div>
                <strong>With our affiliates.</strong> We may share information with the entities within the Me2Meme
                Limited family of companies.</div>

            <div><strong>With third parties.</strong> We may share your information with third parties. Examples
                include:
            </div>

            <ul>
                <li> <strong>With service providers. </strong> We may share information about you with service providers
                    who perform services on our behalf.</li>

                <li> <strong> With business partners. </strong> We may share information about you with business
                    partners that provide services and functionality.</li>

                <li> <strong>With third parties for legal reasons.</strong> We may share information about you if we
                    reasonably believe that disclosing the information is necessary. Examples include:
                    <ul>
                        <li> To comply with any valid legal process, governmental request, or applicable law, rule or
                            regulation.</li>
                        <li> To investigate, enforce, or remedy potential Terms of Service violations</li>
                        <li> To protect the safety, rights, and property of Me2Meme, our users, or others.</li>
                        <li> To detect and resolve any fraud or security matters or concerns.</li>
                    </ul>
                </li>

                <li> <strong> With third parties as part of a merger or acquisition. </strong>If Me2Meme Limited gets
                    involved with a merger, asset sale, financing, liquidation, bankruptcy, or acquisition of all or
                    some portion of our business to another company, we may share your information with the company
                    before, during, and after the transaction.</li>
            </ul>
            <div>
                We may also share aggregated, non-personally identifiable, or de-identified information with third
                parties, such as advertisers.
            </div>
            <a routerLink="." fragment="tablecontent">Back to content table</a>
        </div>

        <div id="part5">
            <h2>Third-Party Content and Integrations</h2>
            <div>
                Our services may contain third-party links and search results, include third-party integrations, or
                offer a co-branded or third-party-branded-service. Through these links, third-party integrations, and
                co-branded or third-party-branded services, you may be providing information, including personal
                information, directly to the third party, to us, or to both. You acknowledge and agree that we are not
                responsible for how those third parties collect or use your information. We encourage you to review the
                privacy policies of every third-party service you visit or use, including those third parties you
                interact with through our services.
            </div>
            <a routerLink="." fragment="tablecontent">Back to content table</a>
        </div>

        <div id="part6">
            <h2>Analytics and Advertising Services</h2>
            <h3>Provided by Others</h3>
            <div>
                We may let other companies use cookies, web beacons, and similar technologies on our services. These
                companies may collect information about how you use our services over time, and combine it with similar
                information from other services and companies. This information may be used to analyze and track data,
                determine the popularity of certain content, and under your online activity, among other things.
            </div>

            <div>
                Some companies, including our affiliates, may use information collected on our services to measure the
                performance of ads and deliver more relevant ads, including on third-party websites and apps.
            </div>

            <div>
                <h3>Provided by Us</h3>
                <div>
                    We may collect information about your activity on third-party services that use cookies and other
                    technologies provided by us. We use this information to improve your user experience with our
                    services and to improve your advertising services, including measuring the performance of ads and
                    showing you relevant ads. Visit our Advertising Preferences page to learn more about Me2Meme
                    advertising and how you can control the information used to select the ads you see.
                </div>
            </div>
            <a routerLink="." fragment="tablecontent">Back to content table</a>
        </div>

        <div id="part7">
            <h2>How Long We Keep Your Information</h2>
            <div>
                Me2Meme stores your information, the posts you upload, and the comments you upload for a period of time.
                For example:
            </div>
            <ul>
                <li>
                    We store your basic account information, including your name, username, and email address until you
                    ask us to delete them</li>

                <li>We store location information for different lengths of time based on how precise it is and which
                    services you use.</li>

                <li>
                    We are constantly collecting and updating information about the things you like or dislike, so we
                    can provide you with more relevant data, more relevant ads, and a better user experience.
                </li>
            </ul>

            <div>If you decide to stop using Me2Meme, you can ask us to delete your account.</div>
            <div>
                There may be legal requirements to store your data and we may need to suspend those deletion practices
                if we receive valid legal process or request asking us to preserve that content, or if we receive
                reports of abuse or other Terms of Service Violations. We may also need to retain certain information in
                backup for a limited period of time, or as required by law.
            </div>
            <a routerLink="." fragment="tablecontent">Back to content table</a>
        </div>

        <div id="part8">
            <h2>Control over Your Information</h2>
            <div>
                At Me2Meme, your privacy is important to us. We want you to have control over the information you give
                us,
                the information we use, and the information we keep. These are the tools we provide you to control your
                information:
                <ul>
                    <li><strong>Download My Data.</strong> You can request your data to be sent to you.</li>
                    <li>
                        <strong>Removing Permissions. </strong>If you agree to let us use your information, you can
                        change your mind at any time by changing the settings on your device. If you remove permission,
                        certain services may be impacted and may lose functionality.
                    </li>
                    <li>
                        <strong>Deletion.</strong> We hope you remain a Me2Meme user for life, but if you want to delete
                        your account, please contact us.
                    </li>
                </ul>
            </div>
            <a routerLink="." fragment="tablecontent">Back to content table</a>
        </div>

        <div id="part9">
            <h2> Our Policy on Children’s Information</h2>
            <div>
                We do not knowingly collect personal information from anyone under 16. We may limit how we collect, use
                and store some of the information of EU or EEA users between ages 13 and 16. If we need to rely on
                consent as a legal bases for processing your information and your country requires consent from a
                parent, we may require your parent’s consent before we collect and use that information.
            </div>
            <a routerLink="." fragment="tablecontent">Back to content table</a>
        </div>

        <div id="part10">
            <h2>Revisions and Changes to the Privacy Policy</h2>
            <div>
                We may change this Privacy Policy from time to time. When we do, we will let you know by notifying you
                one way or another. We may let you know by revising the date at the top of this privacy policy, which is
                available on our websites and mobile applications. We may also provide additional notice, such as adding
                a statement to our homepage, or providing you with an in-app notification.
            </div>
            <a routerLink="." fragment="tablecontent">Back to content table</a>
        </div>

    </div>
</div>