
<input type="radio" name="options" value="all" [(ngModel)]="selectedRadioValue" (change)="onRadioSelectionChanged()" />
All({{all }})
<input type="radio" name="options" value="seen" [(ngModel)]="selectedRadioValue" (change)="onRadioSelectionChanged()" />
Seen
<input type="radio" name="options" value="notSeen" [(ngModel)]="selectedRadioValue" (change)="onRadioSelectionChanged()" />
Seenot
<input type="radio" name="options" value="glanced" [(ngModel)]="selectedRadioValue" (change)="onRadioSelectionChanged()" />
Glanced
<input type="radio" name="options" value="commented" [(ngModel)]="selectedRadioValue" (change)="onRadioSelectionChanged()" />
Commented
<input type="radio" name="options" value="voted" [(ngModel)]="selectedRadioValue" (change)="onRadioSelectionChanged()" />
Voted