<ng-container *ngIf="!mobile">
    <div class="mt-3" *ngIf="item">
        <ng-container *ngIf="item.files && item.files.length > 0">
            <div data-toggle="tooltip" data-placement="bottom"
                title="{{item.businessName + '-' + item.title + ((item.price !=null &&item.price !=undefined)? '-$' + item.price : '')}}"
                class="small-text">
                <div class="text-primary font-weight-bold text-overflow">{{item.businessName}}</div>
                <div class="text-overflow">
                    <span class="text-success">{{item.title}}
                        <span *ngIf="item.price != null && item.price != undefined" class="text-primary">{{" -
                            "}}{{item.price | currency:'USD'}}</span></span>
                </div>
                <a class="d-block" [routerLink]="[]" queryParamsHandling="merge" [queryParams]="{id:item._id}">
                    <img *ngIf="item.files[0].fileType?.match('image*')" [src]="item.files[0].url | imageMobileLinkPipe"
                        default="{{item.files[0].url}}" alt="Unavailable" class="frame-desktop rounded">
                    <app-meme-video *ngIf="item.files[0].fileType?.match('video*')" [link]="item.files[0].url"
                        [fileType]="item.files[0].fileType" class="frame-desktop rounded"></app-meme-video>
                </a>
            </div>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="mobile">
    <div class="mt-3 border border-primary rounded" *ngIf="item">
        <ng-container *ngIf="item.files && item.files.length > 0">
            <div data-toggle="tooltip" data-placement="bottom" title="{{item.overview}}">
                <div class="text-primary font-weight-bold text-overflow">{{item.businessName}}</div>
                <div>
                    <a class="text-success font-weight-bold">{{item.title}}</a>
                    <span class="float-right text-primary font-weight-bold">{{item.price | currency:'USD'}}</span>
                </div>
                <a class="d-block" [routerLink]="[]" queryParamsHandling="merge" [queryParams]="{id:item._id}">
                    <img *ngIf="item.files[0].fileType?.match('image*')" [src]="item.files[0].url | imageMobileLinkPipe"
                        default="{{item.files[0].url}}" alt="Unavailable" class="frame-mobile rounded">
                    <app-meme-video *ngIf="item.files[0].fileType?.match('video*')" [link]="item.files[0].url"
                        [fileType]="item.files[0].fileType" class="frame-mobile rounded"></app-meme-video>
                </a>
            </div>
        </ng-container>
    </div>
</ng-container>