.modal-medium {
    max-width: 95%;
}

#tagTextArea {
    resize: none;
}

#preloader {
    position: absolute;
    top: 25%;
    left: 50%;
    opacity: 0.5;
    z-index: 1051;
}

#spinner_container {
    overflow: visible;
    opacity: 1;
    background: transparent;
}

#spinner {
    display: block;
}