<h1 class="text-center text-primary pb-3">{{"common.label.createAds" | translate}}</h1>
<form class="needs-validation" [formGroup]="itemForm" (ngSubmit)="createPost()" autocomplete="on">
  <div class="form-row">
    <div class="col-md-5 mb-1">
      <div class="form-row mb-1">
        <div class="col-md-12 mb-1">
          <label class="text-primary"><strong>{{"common.label.title" | translate}}*</strong></label>
          <label class="text-danger ml-2">{{"common.label.notice1" | translate}}</label>
          <input type="text" formControlName="title" class="form-control"
            [ngClass]="{ 'is-invalid': checkError('title') }">
          <div *ngIf="checkError('title')" class="invalid-feedback">
            <div *ngIf="f.title.errors.pattern || f.title.errors.whitespace">{{"item.upload.title.validate.required" |
              translate}}</div>
          </div>
        </div>
      </div>
      <div class="form-row mb-1">
        <div class="col-md-12 mb-1">
          <label class="text-primary"><strong>{{"common.label.business" | translate}}*</strong></label>
          <input type="text" formControlName="businessName" class="form-control"
            [ngClass]="{ 'is-invalid': checkError('businessName') }">
          <div *ngIf="checkError('businessName')" class="invalid-feedback">
            <div *ngIf="f.businessName.errors.pattern || f.businessName.errors.whitespace">
              {{"item.upload.business.validate.required" | translate}}</div>
          </div>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-6 mb-1">
          <label class="text-primary" for="categories"><strong>{{"common.label.category" | translate}}*</strong></label>
          <select formControlName="categories" class="form-control"
            [ngClass]="{ 'is-invalid': checkError('categories') }">
            <option value="Nail_Salon">{{"item.upload.category.nailSalon" | translate}}</option>
            <option value="Hair_Salon">{{"item.upload.category.hairSalon" | translate}}</option>
            <option value="Restaurant">{{"item.upload.category.restaurant" | translate}}</option>
            <option value="House">{{"item.upload.category.house" | translate}}</option>
            <option value="Repair">{{"item.upload.category.repair" | translate}}</option>
            <option value="Tax">{{"item.upload.category.tax" | translate}}</option>
            <option value="Insurance">{{"item.upload.category.insurance" | translate}}</option>
            <option value="Lending">{{"item.upload.category.lending" | translate}}</option>
            <option value="Babysit">{{"item.upload.category.babysit" | translate}}</option>
            <option value="Teaching">{{"item.upload.category.teaching" | translate}}</option>
            <option value="Other_Business">{{"item.upload.category.otherBusiness" | translate}}</option>
          </select>
          <div *ngIf="checkError('categories')" class="invalid-feedback">
            <div *ngIf="f.categories.errors.required">
              {{"item.upload.category.validate.required" | translate}}</div>
          </div>
        </div>
        <div class="col-md-6 mb-1">
          <label class="text-primary" for="needs"><strong>{{"common.label.needs" | translate}}*</strong></label>
          <mat-select formControlName="needs" multiple class="form-control"
            [ngClass]="{ 'is-invalid': checkError('needs') }">
            <ng-container *ngFor="let option of needsOption">
              <mat-option value="{{option.key}}">{{option.value | translate}}</mat-option>
            </ng-container>
          </mat-select>
          <div *ngIf="checkError('needs')" class="invalid-feedback">
            <div *ngIf="f.needs.errors.required">
              {{"item.upload.needs.validate.required" | translate}}</div>
          </div>
        </div>
      </div>

      <div class="row mb-1">
        <div class="col-md-12 mb-1">
          <label class="text-primary" for="tags"><strong>{{"item.upload.tag.label" | translate}}</strong></label>
          <div>
            <ng-container *ngFor="let tag of parsedTags;">
              <a href="" class="mr-1">#{{tag}}</a>
            </ng-container>
          </div>
          <input id="tags" type="text" formControlName="tags" class="w-100" (input)="onTagsChange($event.target.value)">
        </div>
      </div>

      <div class="row mb-1">
        <div class="col-md-7 mb-1">
          <label class="text-primary" for="address"><strong>{{"common.label.address" |
              translate}}</strong></label>
          <input #autoAddress formControlName="address" class="form-control"
            [ngClass]="{ 'is-invalid': checkError('address') }">
          <div *ngIf="checkError('address')" class="invalid-feedback">
            <div *ngIf="f.address.errors.pattern">
              {{"item.upload.address.validate.pattern" | translate}}</div>
          </div>
        </div>
        <div class="col-md-5 mb-1">
          <label class="text-primary" for="zipcode"><strong>{{"common.label.zipcode" | translate}}*</strong></label>
          <input #autoZipcode formControlName="zipcode" class="form-control"
            [ngClass]="{ 'is-invalid': checkError('zipcode') }">
          <div *ngIf="checkError('zipcode')" class="invalid-feedback">
            <div *ngIf="f.zipcode.errors.pattern || f.zipcode.errors.whitespace">
              {{"item.upload.address.validate.zipcodeRequired" | translate}}</div>
          </div>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-9 mb-1">
          <label class="text-primary" for="address2"><strong>{{"item.upload.address.address2" |
              translate}}</strong></label>
          <input formControlName="address2" class="form-control">
        </div>
      </div>

      <div class="row mb-1">
        <div class="col-md-4 mb-1">
          <label class="text-primary" for="country"><strong>{{"common.label.country" | translate}}*</strong></label>
          <input formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': checkError('country') }">
          <div *ngIf="checkError('country')" class="invalid-feedback">
            <div *ngIf="f.country.errors.pattern || f.country.errors.whitespace">
              {{"item.upload.address.validate.countryRequired" | translate}}</div>
          </div>
        </div>
        <div class="col-md-4 mb-1">
          <label class="text-primary" for="state"><strong>{{"common.label.state" | translate}}*</strong></label>
          <input #state formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': checkError('state') }">
          <div *ngIf="checkError('state')" class="invalid-feedback">
            <div *ngIf="f.state.errors.pattern || f.state.errors.whitespace">
              {{"item.upload.address.validate.stateRequired" | translate}}</div>
          </div>
        </div>
        <div class="col-md-4 mb-1">
          <label class="text-primary" for="city"><strong>{{"common.label.city" | translate}}*</strong></label>
          <input #city formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': checkError('city') }">
          <div *ngIf="checkError('city')" class="invalid-feedback">
            <div *ngIf="f.city.errors.pattern || f.city.errors.whitespace">{{"item.upload.address.validate.cityRequired"
              | translate}}</div>
          </div>
        </div>
      </div>

      <div class="row mb-1">
        <div *ngIf="showPrice" class="col-md-6 mb-1">
          <label class="text-primary" for="price"><strong>{{"common.label.price" | translate}}</strong></label>
          <input type="number" formControlName="price" class="form-control"
            [ngClass]="{ 'is-invalid': checkError('price') }">
          <div *ngIf="checkError('price')" class="invalid-feedback">
            <div *ngIf="f.price.errors.min">{{"item.upload.price.validate.negative" | translate}}</div>
          </div>
        </div>

        <div *ngIf="showWage" class="col-md-6 mb-1">
          <label class="text-primary" for="price"><strong>{{"common.label.wage" | translate}}</strong></label>
          <input type="number" formControlName="wage" class="form-control"
            [ngClass]="{ 'is-invalid': checkError('wage') }">
          <div *ngIf="checkError('wage')" class="invalid-feedback">
            <div *ngIf="f.wage.errors.min">{{"item.upload.wage.validate.negative" | translate}}</div>
          </div>
        </div>
      </div>

      <div class="row mb-1">
        <div *ngIf="showNoOfEmployees" class="col-md-4 mb-1">
          <label class="text-primary" for="noOfEmployees"><strong>{{"item.upload.noOfEmployees.label" |
              translate}}</strong></label>
          <input type="number" formControlName="noOfEmployees" class="form-control"
            [ngClass]="{ 'is-invalid': checkError('noOfEmployees') }">
          <div *ngIf="checkError('noOfEmployees')" class="invalid-feedback">
            <div *ngIf="f.noOfEmployees.errors.min">{{"item.upload.noOfEmployees.validate.min" | translate}}</div>
          </div>
        </div>
        <div *ngIf="showNoOfChairs" class="col-md-4 mb-1">
          <label class="text-primary" for="noOfChairs"><strong>{{"item.upload.noOfChairs.label" |
              translate}}</strong></label>
          <input type="number" formControlName="noOfChairs" class="form-control"
            [ngClass]="{ 'is-invalid': checkError('noOfChairs') }">
          <div *ngIf="checkError('noOfChairs')" class="invalid-feedback">
            <div *ngIf="f.noOfChairs.errors.min">{{"item.upload.noOfChairs.validate.min" | translate}}</div>
          </div>
        </div>
        <div *ngIf="showNoOfTables" class="col-md-4 mb-1">
          <label class="text-primary" for="noOfTables"><strong>{{"item.upload.noOfTables.label" |
              translate}}</strong></label>
          <input type="number" formControlName="noOfTables" class="form-control"
            [ngClass]="{ 'is-invalid': checkError('noOfTables') }">
          <div *ngIf="checkError('noOfTables')" class="invalid-feedback">
            <div *ngIf="f.noOfTables.errors.min">{{"item.upload.noOfTables.validate.min" | translate}}</div>
          </div>
        </div>
      </div>

      <div class="row mb-1">

        <div *ngIf="showIncome" class="col-md-4 mb-1">
          <label class="text-primary" for="income"><strong>{{"item.upload.income.label" | translate}}</strong></label>
          <input type="number" formControlName="income" class="form-control"
            [ngClass]="{ 'is-invalid': checkError('income') }">
          <div *ngIf="checkError('income')" class="invalid-feedback">
            <div *ngIf="f.income.errors.min">{{"item.upload.income.validate.min" | translate}}</div>
          </div>
        </div>

        <div *ngIf="showRent" class="col-md-4 mb-1">
          <label class="text-primary" for="rentCost"><strong>{{"item.upload.rent.label" | translate}}</strong></label>
          <input type="number" formControlName="rentCost" class="form-control"
            [ngClass]="{ 'is-invalid': checkError('rentCost') }">
          <div *ngIf="checkError('rentCost')" class="invalid-feedback">
            <div *ngIf="f.rentCost.errors.min">{{"item.upload.rent.validate.min" | translate}}</div>
          </div>
        </div>
        <div *ngIf="showOtherCost" class="col-md-4 mb-1">
          <label class="text-primary" for="otherCost"><strong>{{"item.upload.otherCost.label" |
              translate}}</strong></label>
          <input type="number" formControlName="otherCost" class="form-control"
            [ngClass]="{ 'is-invalid': checkError('otherCost') }">
          <div *ngIf="checkError('otherCost')" class="invalid-feedback">
            <div *ngIf="f.otherCost.errors.min">{{"item.upload.otherCost.validate.min" | translate}}</div>
          </div>
        </div>
      </div>

      <div class="row mb-1">
        <div *ngIf="showArea" class="col-md-4 mb-1">
          <label class="text-primary" for="area"><strong>{{"item.upload.area.label" | translate}}</strong></label>
          <input type="number" formControlName="area" class="form-control"
            [ngClass]="{ 'is-invalid': checkError('area') }">
          <div *ngIf="checkError('area')" class="invalid-feedback">
            <div *ngIf="f.area.errors.min">{{"item.upload.area.validate.min" | translate}}!</div>
          </div>
        </div>
        <div *ngIf="showLeaseEnd" class="col-md-4 mb-1">
          <label class="text-primary" for="leaseEnd"><strong>{{"item.upload.leaseEnd.label" |
              translate}}</strong></label>
          <input type="date" formControlName="leaseEnd" class="form-control">
        </div>
        <div *ngIf="showYearsOld" class="col-md-4 mb-1">
          <label class="text-primary" for="yearOld"><strong>{{"item.upload.yearsOld.label" |
              translate}}</strong></label>
          <select formControlName="yearOld" class="custom-select">
            <option value="1">1 {{"item.upload.yearsOld.yearLabel" | translate}}</option>
            <option value="2">2 {{"item.upload.yearsOld.yearsLabel" | translate}}</option>
            <option value="3">3 {{"item.upload.yearsOld.yearsLabel" | translate}}</option>
            <option value="4">4 {{"item.upload.yearsOld.yearsLabel" | translate}}</option>
            <option value="5">5 {{"item.upload.yearsOld.yearsLabel" | translate}} {{"item.upload.yearsOld.orMore" |
              translate}}</option>
          </select>
        </div>
      </div>

      <div class="row mb-1">
        <div class="col-md-6 mb-1">
          <label class="text-primary" for="contactPhoneNo"><strong>{{"item.upload.contactPhone.label" |
              translate}}*</strong></label>
          <input #phone formControlName="contactPhoneNo" mask="+00 (000) 000-0000" class="form-control"
            [ngClass]="{ 'is-invalid': checkError('contactPhoneNo') }">
          <div *ngIf="checkError('contactPhoneNo')" class="invalid-feedback">
            <div *ngIf="f.contactPhoneNo.errors.mask || f.contactPhoneNo.errors.whitespace">
              {{"item.upload.contactPhone.validate.mask" | translate}}
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-1">
          <label class="text-primary" for="contactEmail"><strong>{{"item.upload.contactEmail.label" |
              translate}}</strong></label>
          <input type="email" formControlName="contactEmail" class="form-control"
            [ngClass]="{ 'is-invalid': checkError('contactEmail') }">
          <div *ngIf="checkError('contactEmail')" class="invalid-feedback">
            <div *ngIf="f.contactEmail.errors.emailFormat">{{"item.upload.contactEmail.validate.emailFormat" |
              translate}}</div>
            <div *ngIf="f.contactEmail.errors.pattern">{{"item.upload.contactEmail.validate.pattern" | translate}}</div>
          </div>
        </div>
      </div>

      <div class="row mb-1">
        <div class="col-md-12 mb-1">
          <label class="text-primary" for="overview"><strong>{{"item.upload.overview.label" |
              translate}}</strong></label>
          <textarea rows="2" type="text" formControlName="overview" class="form-control"
            [ngClass]="{ 'is-invalid': checkError('overview') }"></textarea>
          <div *ngIf="checkError('overview')" class="invalid-feedback">
            <div *ngIf="f.overview.errors.pattern">{{"item.upload.overview.validate.maxLength" | translate}}</div>
          </div>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-12 mb-1">
          <label class="text-primary" for="description"><strong>{{"item.upload.description.label" |
              translate}}</strong></label>
          <div class="editor">
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
            </ngx-editor-menu>
            <ngx-editor [editor]="editor" formControlName="description"
              [ngClass]="{ 'is-invalid': checkError('description') }">
            </ngx-editor>
          </div>
          <div *ngIf="checkError('description')" class="invalid-feedback" style="display: block;">
            <div *ngIf="f.description.errors.pattern">{{"item.upload.description.validate.maxLength" | translate}}</div>
          </div>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-6 mb-1">
          <label class="text-primary" for="duration"><strong>{{"item.upload.duration.label" |
              translate}}</strong></label>
          <select formControlName="duration" class="custom-select">
            <option value="1">1 {{"item.upload.duration.monthLabel" | translate}} ($20)</option>
            <option value="3">3 {{"item.upload.duration.monthsLabel" | translate}} ($40)</option>
            <option value="6">6 {{"item.upload.duration.monthsLabel" | translate}} ($60)</option>
            <option value="12">12 {{"item.upload.duration.monthsLabel" | translate}} ($80)</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-7 mb-1">
      <div class="form-row mb-1">
        <div class="col-md-12 mb-1">
          <label class="text-primary" for="file"><strong>{{"item.upload.picture.label" | translate}}</strong></label>
          <div class="custom-file">
            <label class="custom-file-label" for="file">{{"item.upload.picture.select.label" | translate}}</label>
            <input type="file" class="custom-file-input" formControlName="file" id="upload" multiple
              (change)="handleFileInput($event.target.files)" accept="audio/*, video/*, image/*"
              [ngClass]="{'is-invalid' : checkError('file')}">
            <div *ngIf="checkError('file')" class="invalid-feedback">
              <div *ngIf="f.file.errors.required">{{"item.upload.picture.validate.required" | translate}}</div>
              <ng-container *ngIf="f.file.errors.largeFile">
                <div *ngIf="f.file.errors.largeFile">{{"item.upload.picture.validate.largeFile" | translate}}</div>
              </ng-container>
            </div>
          </div>
          <div *ngIf="tooManyFilesError" class="invalid-feedback" style="display: block;">
            <div>{{"item.upload.picture.validate.tooMany" | translate}}</div>
          </div>
        </div>

        <div *ngIf="isUploading" id="preloader" class="preloader text-center">
          <div id="spinner_container" class="spinner_container">
            <circle-progress [percent]="uploadingProgress">
            </circle-progress>
          </div>
        </div>
      </div>
      <div class="form-row mb-1">
        <ng-container *ngIf="toUploadFiles && toUploadFiles.length">
          <ng-container *ngFor="let previewMediaSrc of toUploadFiles; let i = index">
            <div class="col-4" *ngIf="previewMediaSrc.fileType.match('image*')">
              <img [src]="previewMediaSrc.url" class="img-thumbnail mh-480 m-2" id="previewImg">
              <button class="btn btn-xs btn-primary upright-corner" (click)="removePreviewMedia(i)">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="col-4" *ngIf="previewMediaSrc.fileType.match('video*')">
              <video [src]="previewMediaSrc.url" controls class="img-thumbnail mh-480 m-2">
              </video>
              <button class="btn btn-xs btn-primary upright-corner" (click)="removePreviewMedia(i)">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 col-sm-4 form-group">
      <button type="button" id="cancelBtn" class="btn btn-primary mr-2" data-dismiss="modal"
        (click)="goBackToHomePage()">{{"common.label.cancel" | translate}}</button>
      <button type="submit" class="btn btn-success" [disabled]="isUploading">{{"common.label.create" |
        translate}}</button>
    </div>
  </div>
</form>