.modal-large {
    max-width: 100%;
    margin: 0.5rem;
}

.overflow-scroll {
    max-height: 768px;
    overflow-y: scroll;
}

.pb-cmnt-container {
    font-family: Lato;
    margin-top: 100px;
}

.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}