<div *ngIf="item" class="modal fade" id="itemDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" (onShow)="showModal()">
  <div id="myModal" name="myModal" class="modal-dialog modal-large" role="document">
    <div class="modal-content">
      <div class="modal-body pb-0">
        <div class="row text-lg-left">
          <div class="col-lg-6 col-md-6 col-xs-6 pb-0">
            <div>
              <img class="avatar d-inline float-left mr-2" src="{{item.createdBy.avatar}}" alt="Avatar">
              <h5 class="modal-title" id="exampleModalLabel">{{item.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <app-react [item]="item" [hideCommment]="true"></app-react>
            </div>
            <div>
              <a href="#" class="d-block">
                <img class="img-fluid img-thumbnail" src="{{item.url}}" alt="">
              </a>
            </div>
            <div class="text-success">Comments({{item.comment}}) - Points({{item.point}})
              <a *ngFor="let tag of item.tags" href="#" class="mr-1">{{tag}}</a>
            </div>
            <app-comment-box [item]="item"></app-comment-box>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-6 pb-0 overflow-scroll">
            <app-comments [itemId]="item._id"></app-comments>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>