.modal-large {
    max-width: 100%;
    margin: 0.5rem;
}

.avatar {
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 5%;
}

.overflow-scroll {
    max-height: 768px;
    overflow-y: scroll;
}

.pb-cmnt-container {
    font-family: Lato;
    margin-top: 100px;
}

.pb-cmnt-textarea {
    resize: none;
    height: 70px;
    width: 100%;
    border: 1px solid #F2F2F2;
}
.voted {
    background: #007bff;
}