<div class="container">
    <div class="row">
        <div class="col-12">
            <a routerLink='/'><img class="rounded w-25" src="../../assets/image/logo944x749.jpg"></a>
            <div>
                <h1>TroiViet Rules</h1>
                <h4>Last Modified: Agust 20th, 2022</h4>
            </div>
            <div>No Pornography</div>
            <div>No Extreme violent, gory and harmful content</div>
            <div>No extreme hateful speech</div>
            <div>No spamming, manipulation and multiple account abuse</div>
            <div>No personal and confidential information</div>
            <div>No illegal activities</div>
            <div>No impersonation</div>
            <div>No copyright and trademark infringement</div>
        </div>
    </div>
</div>