/* You can add global styles to this file, and also import other style files */

.avatar-75 {
    vertical-align: middle;
    width: 4.6875rem;
    height: 4.6875rem;
    border-radius: 5%;
    margin-bottom: 0.1875rem;
}

.avatar-45 {
    vertical-align: middle;
    width: 2.8125rem;
    height: 2.8125rem;
    border-radius: 5%;
}

.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.voted {
    background: #007bff;
}

.upright-corner {
    position: absolute;
    top: 0px;
    right: 15px;
}

.previewPic {
    width: 100%;
    border-radius: 5%;
}

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}

.text-red {
    color: red;
    top: 0px;
    right: 25%;
}

#my-tooltip {
    margin: 8px;
    padding: 8px;
    border: 1px solid blue;
    max-width: 320px;
    position: absolute;
    background: white;
    color: black;
    z-index: 1051;
}

@media (max-width: 575.98px) {
    .xs-w-25 {
        width: 25% !important;
    }

    .xs-w-100 {
        width: 100% !important;
    }
}