<div #outterCanvas canvasNavigator (outterCanvasXYEmitter)="handleCanvasMoving($event)" class="border">
    <svg width="100%" height="100%">
        <line #connectedLines *ngFor="let n of nodes[0].neighbors; let i = index"
            [attr.y1]="nodes[0].coordinates.top+'px'" [attr.x1]="nodes[0].coordinates.left+'px'"
            [attr.y2]="n.coordinates.top+'px'" [attr.x2]="n.coordinates.left +'px'" stroke-width="1" class="line"
            stroke-width="1" class="line" />
    </svg>

    <app-node id="btn_0" [node]="nodes[0]" [canvasCoor]="canvasCoor"></app-node>
    <ng-container *ngFor="let node of nodes[0].neighbors; let i = index">
        <app-node id="btn{{0+'_'+i}}" [(node)]="node" [canvasCoor]="canvasCoor">
        </app-node>
    </ng-container>
</div>