<div class="btn-group">
    <button class="btn btn-xs mr-2" [ngClass]="item.hasDownvoted?'btn-primary':'btn-success'" (click)="downvote()"><i
            class="fa fa-thumbs-down" aria-hidden="true"></i></button>
    <button class="btn btn-xs mr-2" [ngClass]="item.hasUpvoted?'btn-primary':'btn-success'" (click)="upvote()"><i
            class="fa fa-thumbs-up" aria-hidden="true"></i></button>
    <button class="btn btn-xs mr-2 btn-success" (click)="showItemModal()"><i class="fa fa-comment-o"></i></button>

    <button class="btn btn-xs btn-success dropdown-toggle" type="button" id="menu" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-label="menu">
        <app-facebook></app-facebook>
        <div class="text-danger" *ngIf="authSvc.user && !(authSvc.user.username == item.createdBy.username)">
            <div class="dropdown-divider"></div>
            <div *ngIf="!item.hasReported; else elseBlock">
                <button class="btn dropdown-item text-primary pl-0 ml-1"
                    [ngClass]="selectedOptions.length<1 ? 'text-secondary' : ''" href="javascript:void(0)"
                    (click)="reportItem(item)" [disabled]="selectedOptions.length<1">Report</button>
                <div class="mt-2 ml-3">
                    <div *ngFor="let option of options">
                        <label>
                            <input type="checkbox" name="options" value="{{option.value}}"
                                [(ngModel)]="option.checked" />
                            {{option.name}}
                        </label>
                    </div>
                </div>
            </div>
            <ng-template #elseBlock>
                <button class="btn dropdown-item text-primary pl-0 ml-1" (click)="cancelReportItem(item)">Cancel
                    report</button>
            </ng-template>
        </div>
        <ng-content></ng-content>
    </div>
</div>