<div class="btn-group">
    <button class="btn btn-xs mr-2" [ngClass]="item.downvoted?'btn-primary':'btn-success'" (click)="downvote()"><i
            class="fa fa-thumbs-down" aria-hidden="true"></i></button>
    <button class="btn btn-xs mr-2" [ngClass]="item.upvoted?'btn-primary':'btn-success'" (click)="upvote()"><i
            class="fa fa-thumbs-up" aria-hidden="true"></i></button>
    <button class="btn btn-xs mr-2 btn-success" (click)="showItemModal()"><i class="fa fa-comment-o"></i></button>

    <button class="btn btn-xs btn-success dropdown-toggle" type="button" id="submenu" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-label="submenu">
        <app-facebook></app-facebook>
        <div *ngIf="!(_authSvc.user.username == item.createdBy.username)">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)" (click)="reportItem(item._id)">Report</a>
        </div>
        <ng-content></ng-content>
    </div>
</div>