<button class="btn btn-success mr-2 mb-2 btn-sm" [ngClass]="upVotedClass" (click)="upVote()"><i class="fa fa-thumbs-up"
    aria-hidden="true"></i></button>
<button class="btn btn-success mr-2 btn-sm mb-2" [ngClass]="downVotedClass" (click)="downVote()"><i class="fa fa-thumbs-down"
    aria-hidden="true"></i></button>
<button class="btn btn-success btn-sm mb-2" (click)="showItemModal()"><i class="fa fa-comment-o" aria-hidden="true"
    data-toggle="modal" data-target="#itemDetails"></i></button>
<!-- <button class="btn btn-success btn-sm mb-2"><i class="fa fa-comment-o" aria-hidden="true" data-toggle="modal"
    data-target="#itemDetails"></i></button> -->