
<div class="row pb-3">
  <div class="col-12">
    <ng-container *ngFor="let key of params | keyPipe">
      <ng-container>
        <button class="mr-2" [ngClass]="{'btn-success': key=='tag', 'btn-primary': key=='category'}"
          (click)="removeFilter(key)">
          <span>{{params[key]}}</span>
          <span class="ml-1">(X)</span>
        </button>
      </ng-container>
    </ng-container>
  </div>
</div>

<div id="listItems">
  <app-items [items]="items"></app-items>
</div>

<div class="row mb-3">
  <div class="input-group col-md-9">
    <div>
      <a (click)="loadNext()" class="btn btn-primary d-inline text-white" role="button">Next</a>
    </div>
  </div>
  <div class="input-group col-md-3">
    <div class="form-label-group">
      <a routerLink="." queryParamsHandling="merge" [queryParams]="{page: actualPage}"
        class="btn text-primary d-inline mr-1"> Go to page </a>
      <input class="form-control mt-2 d-inline w-25" type="number" min="0" autofocus [(ngModel)]="actualPage" />
    </div>
  </div>
</div>
<ng-adsense></ng-adsense>