button.hot {
    background: linear-gradient(to right, hsl(0, 100%, 50%), hsl(40, 100%, 50%));
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

button.warm {
    background: linear-gradient(to right, hsl(40, 100%, 50%), hsl(60, 100%, 50%));
}

button.cold {
    background: linear-gradient(to right, hsl(60, 100%, 50%), hsl(80, 100%, 50%));    
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

@media (max-width: 767.98px) {
    button.hot {
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 10px !important;
        border-top-left-radius: 10px !important;
        background: linear-gradient(to bottom, hsl(0, 100%, 50%), hsl(40, 100%, 50%));
    }

    button.warm {
        background: linear-gradient(to bottom, hsl(40, 100%, 50%), hsl(60, 100%, 50%));
    }

    button.cold {
        border-bottom-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        border-top-right-radius: 0 !important;
        
        background: linear-gradient(to bottom, hsl(60, 100%, 50%), hsl(80, 100%, 50%));
    }
}

@media (min-width: 767.98px) {
    div.cold {
        padding-left: 0;
    }

    div.warm {
        padding-left: 0;
        padding-right: 0;
    }

    div.hot {
        padding-right: 0;
    }

    .round-right-16 {
        border-bottom-right-radius: 16px !important;
    }

    .round-right-left-16 {
        border-bottom-right-radius: 16px !important;
        border-bottom-left-radius: 16px !important;
    }

    .round-left-16 {
        border-bottom-left-radius: 16px !important;
    }
}

.top-right {
    background-color: #007bff;
    border: none;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: 15px;
    top: -10px;
    position: relative;
}

button:hover {
    font-weight: bold;
}