<div class="row pb-1">
  <div class="col-md-4 col-xs-4 hot">
    <a [routerLink]="'/business'" [queryParams]="{temp: 'cold', page: 0, perPage: PER_PAGE}"
      (click)="setFlag(true, false, false)"><button class="btn w-100 pr-0 pl-0 rounded-0 border-0 hot"
        [ngClass]="{'font-weight-bold text-white font-24 round-right-16' : itemsActive}">
        {{'home.topHeader.business' | translate}}
      </button>
    </a>
  </div>
  <div class="col-md-4 col-xs-4 warm">
    <a [routerLink]="'/hiring'" (click)="setFlag(false, true, false)">
      <button class="btn w-100 pr-0 pl-0 rounded-0 border-0 warm"
        [ngClass]="{'font-weight-bold text-white font-24 round-right-left-16' : hiringActive}">
        {{'home.topHeader.hiring' | translate}}
      </button>
    </a>
  </div>
  <div class="col-md-4 col-xs-4 cold">
    <a [routerLink]="'/sale'" (click)="setFlag(false, false, true)">
      <button class="btn w-100 pr-0 pl-0 rounded-0 border-0 cold"
        [ngClass]="{'font-weight-bold text-white font-24 round-left-16' : licenseActive}">
        {{'home.topHeader.forSale' | translate}}
      </button>
    </a>
  </div>
</div>

<div class="row pb-3">
  <div class="col-12">
    <ng-container *ngFor="let key of params | keyPipe">
      <ng-container>
        <button class="mr-2" [ngClass]="{'btn-success': key=='tag', 'btn-primary': key=='category'}"
          (click)="removeFilter(key)">
          <span>{{params[key]}}</span>
          <span class="ml-1">(X)</span>
        </button>
      </ng-container>
    </ng-container>
  </div>
</div>

<div id="listItems">
  <app-items [items]="items"></app-items>
</div>

<div class="row mb-3">
  <div class="input-group col-md-9">
    <div>
      <a (click)="loadNext()" class="btn btn-primary d-inline text-white" role="button">Next</a>
    </div>
  </div>
  <div class="input-group col-md-3">
    <div class="form-label-group">
      <a routerLink="." queryParamsHandling="merge" [queryParams]="{page: actualPage}"
        class="btn text-primary d-inline mr-1"> Go to page </a>
      <input class="form-control mt-2 d-inline w-25" type="number" min="0" autofocus [(ngModel)]="actualPage" />
    </div>
  </div>
</div>
<ng-adsense></ng-adsense>