<!-- main app container -->

<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center text-success">Register</h5>
        <h5 *ngIf="registerForm.invalid && error" class="text-center text-danger">{{error.error}}</h5>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="text-primary">Username</label>
            <input type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': checkError('username') }" />
            <div *ngIf="checkError('username')" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
              <div *ngIf="f.username.errors.whitespace">Username is not empty</div>
            </div>
          </div>
          <div class="form-group">
            <label class="text-primary">Email</label>
            <input type="email" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': checkError('email') }" />
            <div *ngIf="checkError('email')" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group" formGroupName="passwords">
            <div>
              <label class="text-primary">Password</label>
              <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': checkError('passwords') || checkGroupError('password')}" />
              <div *ngIf="checkError('passwords')" class="invalid-feedback">
                <div *ngIf="f.passwords.errors.matched">Password is not matched</div>
              </div>
              <div *ngIf="checkGroupError('password')" class="invalid-feedback">
                <div *ngIf="f.passwords.controls.password.errors.required">Password is required</div>
              </div>
            </div>
            <div>
              <label class="text-primary">Confirm Password</label>
              <input type="password" formControlName="confirmPassword" class="form-control"
                [ngClass]="{ 'is-invalid': checkError('passwords') || checkGroupError('confirmPassword') }" />
              <div *ngIf="checkError('passwords')" class="invalid-feedback">
                <div *ngIf="f.passwords.errors.matched">Password is not matched</div>
              </div>
              <div *ngIf="checkGroupError('confirmPassword')" class="invalid-feedback">
                <div *ngIf="f.passwords.controls.confirmPassword.errors.required">Confirm password is required</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="submit">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>