<!-- main app container -->

<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center text-success">{{"common.label.register" | translate}}</h5>
        <h5 *ngIf="error" class="text-center text-danger">{{error.error}}</h5>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="on">
          <div class="form-group">
            <label class="text-primary">{{"login.username.registerUsername" | translate}}</label>
            <input type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': checkError('username') }" />
            <div *ngIf="checkError('username')" class="invalid-feedback">
              <div *ngIf="f.username.errors.pattern">{{"login.username.validate.between" | translate}}</div>
              <div *ngIf="f.username.errors.whitespace">{{"login.username.validate.whitespace" | translate}}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="text-primary">{{"login.email.label" | translate}}</label>
            <input type="email" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': checkError('email') }" />
            <div *ngIf="checkError('email')" class="invalid-feedback">
              <div *ngIf="f.email.errors.email">{{"login.email.validate.emailFormat" | translate}}</div>
              <div *ngIf="f.email.errors.pattern">{{"login.email.validate.between" | translate}}</div>
              <div *ngIf="f.email.errors.whitespace">{{"login.email.validate.whitespace" | translate}}</div>
            </div>
          </div>
          <div class="form-group" formGroupName="passwords">
            <div>
              <label class="text-primary">{{"login.password.label" | translate}}</label>
              <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': checkError('passwords') || checkGroupError('password')}" />
              <div *ngIf="checkError('passwords')" class="invalid-feedback">
                <div *ngIf="f.passwords.errors.matched">{{"login.password.validate.notmatched" | translate}}</div>
              </div>
              <div *ngIf="checkGroupError('password')" class="invalid-feedback">
                <div *ngIf="f.passwords.controls.password.errors.pattern">{{"login.password.validate.between" | translate}}</div>                
              </div>
            </div>
            <div>
              <label class="text-primary">{{"login.confirmPassword.label" | translate}}</label>
              <input type="password" formControlName="confirmPassword" class="form-control"
                [ngClass]="{ 'is-invalid': checkError('passwords') || checkGroupError('confirmPassword') }" />
              <div *ngIf="checkError('passwords')" class="invalid-feedback">
                <div *ngIf="f.passwords.errors.matched">{{"login.confirmPassword.validate.notmatched" | translate}}</div>
              </div>
              <div *ngIf="checkGroupError('confirmPassword')" class="invalid-feedback">
                <div *ngIf="f.passwords.controls.confirmPassword.errors.pattern">{{"login.confirmPassword.validate.between" | translate}}</div>                
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="submit">{{"common.label.register"}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>