<div class="row">
  <div class="col-md-1 text-success">
    <div class="row">
      <strong><span style="font-size: 10px;">{{comment.writtenBy.username}}</span></strong>
    </div>
    <div class="row">
      <img class="avatar-75" src="{{comment.writtenBy.avatar}}" alt="Avatar">
    </div>
  </div>
  <div class="col-md-11 mt-2">
    <span *ngIf="comment.replyTo" class="text-primary pr-1">@{{comment.replyTo}}</span>
    <div [innerHtml]="comment.content"></div>

    <div>
      <app-comment-react [comment]="comment"></app-comment-react>
      <i class="btn btn-xs fa fa-comment text-success" (click)="showReplies(comment._id)">{{comment.noOfReplies}}</i>
      <i class="btn-xs fa fa-star mr-1 text-primary">{{comment.noOfPoints}}</i>
      <ng-content></ng-content>
    </div>
  </div>
</div>

<div *ngFor="let reply of comment.replies; let i = index">
  <div class="row">
    <div class="col-md-1">
      <div class="row">
        <strong><span class="text-success" style="font-size: 10px;">{{reply.writtenBy.username}}</span></strong>
      </div>
      <div class="row">
        <img class="avatar-45" src="{{reply.writtenBy.avatar}}" alt="Avatar">
      </div>
    </div>

    <div class="col-md-11 mt-2">
      <span *ngIf="reply.replyTo" class="text-primary">@{{reply.replyTo}}</span>
      <div [innerHtml]="reply.content"></div>
      <div>
        <audio *ngIf="reply.url" class="voice-comment" controls>
          <source [src]="reply.url" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>
      <div>
        <app-comment-react [comment]="reply"></app-comment-react>
        <i class="btn-xs fa fa-star mr-1 text-primary">{{reply.noOfPoints}}</i>
        <button type="button" class="btn-xs btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
        </button>
        <div class="dropdown-menu">
          <a href="javascript:void(0)" (click)="editComment(i, reply._id)" class="ml-1 d-block"
            *ngIf="_authSvc.user.username == reply.writtenBy.username">Edit</a>
          <a href="javascript:void(0)" (click)="deleteComment(i, reply._id)" class="ml-1 d-block"
            *ngIf="_authSvc.user.username == reply.writtenBy.username">Delete</a>
          <!-- <a href="javascript:void(0)" (click)="reportComment(i, reply._id)" class="ml-1 d-block"
            *ngIf="!(_authSvc.user.username == reply.writtenBy.username)">Report</a> -->
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="isShowingReply && comment.replies.length > 0" class="row mt-2">
  <a href="javascript:void(0)" (click)="showMoreReplies(comment._id)" class="btn-xs btn-primary d-inline"
    role="button">More replies <i class="fa fa-angle-double-right"></i> </a>
</div>