<div class="row hover-high-light">
    <div class="col-md-2 col-sm-2 text-success">
        <div class="row text-overflow">
            <div class="text-success"><strong>{{comment.writtenBy.username}}</strong></div>
        </div>
        <div class="row">
            <img class="w-100-object-fit xs-w-50-object-fit rounded align-self-flex-start"
                src="{{comment.writtenBy.avatar | imageMobileLinkPipe}}" default="{{comment.writtenBy.avatar}}"
                alt="Avatar">
        </div>
    </div>
    <div class="col-md-10 col-sm-10 mt-2">
        <div *ngFor="let obj of comment.content; let i = index">
            <div class="row m-0" *ngIf="obj.fileType == 'text' && obj.url.trim()"> {{obj.url}}</div>
            <app-comment-pic *ngIf="obj.fileType == 'image'" [picPreviewSrc]="obj.url">
            </app-comment-pic>
            <app-comment-voice *ngIf="obj.fileType == 'sound'" [voicePreviewSrc]="obj.url">
            </app-comment-voice>
        </div>
        <div *ngIf="!item.expired && item.status!=='REFUNDED'">
            <app-comment-react [comment]="comment"></app-comment-react>
            <i class="btn btn-xs fa fa-comment text-success"
                (click)="showReplies(comment._id)">{{comment.noOfReplies}}</i>
            <i class="btn-xs fa fa-star mr-1 text-primary">{{comment.noOfPoints}}</i>
            <ng-content></ng-content>
        </div>
    </div>
</div>

<div *ngFor="let reply of comment.replies; let i = index">
    <div class="row hover-high-light">
        <div class="col-md-2 col-sm-2">
            <div class="row text-overflow">
                <div class="text-success"><strong>{{reply.writtenBy.username}}</strong></div>
            </div>
            <div class="row">
                <img class="w-75-object-fit xs-w-25-object-fit rounded align-self-flex-start"
                    src="{{reply.writtenBy.avatar | imageMobileLinkPipe}}" alt="Avatar">
            </div>
        </div>
        <div class="col-md-10 col-sm-10 mt-2">
            <div>
                <a *ngIf="reply.replyTo" href='javascript:void()'
                    class='btn m-0 p-0 mb-1 mw-100 reply-comment text-overflow' (mouseenter)='showTooltip(reply)'>
                    <div>&#64;{{reply.replyTo.writtenBy.username}}:</div>
                </a>
                <app-tooltip [comment]="reply.replyTo" (mouseout)="hideTooltip(reply)" [showToolTip]="reply.showToolTip">
                </app-tooltip>
            </div>
            <div *ngFor="let obj of reply.content; let i = index">
                <div *ngIf="obj.fileType == 'text' && obj.url.trim()">
                    {{obj.url}}
                </div>
                <app-comment-pic *ngIf="obj.fileType == 'image'" [picPreviewSrc]="obj.url | imageMobileLinkPipe">
                </app-comment-pic>
                <app-comment-voice *ngIf="obj.fileType == 'sound'" [voicePreviewSrc]="obj.url">
                </app-comment-voice>
            </div>
            <div>
                <audio *ngIf="reply.url" class="voice-comment" controls>
                    <source [src]="reply.url" type="audio/mpeg">
                    {{"common.audio.warning" | translate}}
                </audio>
            </div>
            <div *ngIf="!item.expired && item.status!=='REFUNDED'">
                <app-comment-react [comment]="reply">
                </app-comment-react>
                <i class="btn-xs fa fa-star mr-1 text-primary">{{reply.noOfPoints}}</i>
                <i class="btn btn-xs fa fa-reply mr-1 text-success font-size-115-rem"
                    (click)="showReplyCommentBox(i)"></i>
                <button type="button" class="btn-xs btn-success dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a href="javascript:void(0)" (click)="editReply(i)" class="ml-1 d-block"
                        *ngIf="authSvc.user && authSvc.user.username == reply.writtenBy.username">{{"common.label.edit" | translate}}</a>
                    <a href="javascript:void(0)" (click)="deleteComment(i, reply._id)"
                        class="ml-1 d-block"
                        *ngIf="authSvc.user && (authSvc.user?.username == reply.writtenBy?.username || authSvc.user?.role === 'ADMIN')">{{"common.label.delete" | translate}}</a>
                    <app-report [comment]="reply"></app-report>
                </div>
                <app-comment-box *ngIf="!item.expired && item.status!=='REFUNDED'" [item]="item" [comment]="reply" [isShowing]="reply.showCommentBox"
                    [isEditting]="reply.isEditting" (editingCommentDone)="handleEditingReplyCommentDone($event)">
                    <app-reply-to [replyToUsername]="replyToUsername"></app-reply-to>
                </app-comment-box>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isShowingReply && comment.replies.length > 0" class="row mt-2">
    <a href="javascript:void(0)" (click)="showMoreReplies(comment._id)" class="btn-xs btn-primary d-inline"
        role="button">{{"comment.reply.more" | translate}} <i class="fa fa-angle-double-right"></i> </a>
</div>
